[2017-08-11 10:07] phdoerfler opened #1 "Is this going to see any more love?"
the nix files as they are fail to processed. Are you planning to work on this more?

[2017-08-11 10:23] r-raymond commented on #1
This repo is the result of a nixos mailserver that I had running on 16.03 for half a year. I was planning to, but have not yet migrated all of my config from the private repo.

I'll try to do that and make it work on Nixos 17.03. Any help is welcome.

[2017-08-11 10:29] r-raymond opened #2 "Update to 17.03"

[2017-08-12 14:17] r-raymond commented on #2
System now runs on Nixos 17.03 / Nixos 17.09-pre

[2017-08-12 14:17] #2 closed

[2017-08-29 08:53] r-raymond commented on #1
Should now compile and as far as I can tell work. Any bug reports are welcome.

[2017-08-29 08:53] #1 closed

[2017-09-12 19:51] phdoerfler opened #5 "Failing to log into IMAP"
Just installed this module and found that I had to invoke

[code]

to allow "user1" to actually log in via IMAP. Shouldn't this be covered by the nix files already?

The error message (as given from dovecot to the IMAP client):

[code]

I tested this with

[code]

Showing up in the logs was this (after I set various [logging](https://wiki2.dovecot.org/Logging) options in dovecot) (faithfully repro

[2017-09-12 20:11] r-raymond commented on #5
You are right, it should be taken care of by the "hashedPassword" option. Thanks for the detailed report, I'll try to reproduce the bug as soon as I find some time.

[2017-09-12 20:37] phdoerfler opened #6 "Postfix won't send mail because of invalid SMTP banner"
postfix complains about it in the logs when you try to connect on TCP port 587:

[code]

In fact, this keeps postfix from replying with its banner, thus preventing any client to send mail.

This goes away when correctly indenting the extra config. The "# Extra Config" part is indented differently than the rest. This keeps nixos from stripping the whitespace correctly thus the resulting postfix con

[2017-09-12 20:45] r-raymond commented on #5
Ok I tried, but I cannot reproduce this. Here is my config on a clean Virtual Box

[code]
(the password is `user1`). After deploying I log in with the same openssl command you use, to get

[code]

I think once the `user1@example.com` user is created, `Nixos` will _not_ update the password anymore if you change the hashPassword value. To test if this is the problem, maybe try to define a new user (

[2017-09-12 20:52] phdoerfler commented on #5
Interesting. I shall try this. FYI @Infinisil was able to reproduce this issue as well.

[2017-09-12 20:59] r-raymond commented on #6
Good catch!

[2017-09-12 21:00] #6 closed

[2017-09-13 07:24] r-raymond opened #8 "rmilter.socket: Socket service rmilter.service already active, refusing"
When building a new deployment target, sometimes the build fails with the following `journalctl log`

[code]

[2017-09-13 08:30] r-raymond commented on #5
I've added a test (`tests/userPassword.nix`) to ensure that the user is created and password is set correctly.

[2017-09-13 10:37] #8 closed

[2017-09-14 07:45] phdoerfler commented on #5
Just tried it: A new user with a user name not previously used does have the password correctly set. I can not reproduce the issue there.

Does the test get called automatically?

[2017-09-14 07:56] phdoerfler opened #9 "Postfix won't send mail: 553 5.7.1 <user2@example.com>: Sender address rejected: not owned by user user2@example.com"
Tested with:

[code]

All I get is `553 5.7.1 <user2@example.com>: Sender address rejected: not owned by user user2@example.com` by postfix. Here's a faithful reproduction of the logs:

[code]

A quick google search [revealed](https://serverfault.com/questions/637726/sender-address-rejected-not-owned-by-user-in-postfix) that this line was missing in the config:

[code]

it's being set to the same

[2017-09-14 08:18] r-raymond commented on #9
This is a bug. You can see who owns which address by looking at
[code]
I've made sure that all aliases are owned by the user, but his very address is missing. You should be able to send as an alias right now though. Will fix asap.

[2017-09-14 08:56] #9 closed

[2017-09-14 11:28] r-raymond commented on #5
Ok, so I guess you can also fix it by manually deleting the user before rebuilding. Since I'm always testing in fresh Virtual Box images, I don't run into this much. On the other hand there is not much we can do, since this is how Nixos handles user passwords.

Unfortunately the tests have to be run manually so far, because I have no idea how to integrate them with a CI solution. I guess I'd need

[2017-09-14 11:28] #5 closed

[2017-09-14 11:29] r-raymond opened #10 "Set up CI for the tests"
I have no idea how to do that, any advice is welcome.

[2017-09-14 12:34] phdoerfler opened #11 "Allow possibility to not use a hostPrefix"
Testing mailing with [mail-tester.com](https://www.mail-tester.com/) I get the following warning:

This is because my reverse DNS resolves to example.com, but the mail was sent from mail.example.com. Apparently some services like AOL take offence to that and treat mail as spam or bounce it.

Whilst it is neat to have a mail.example.com, it would require having multiple IP addresses to work correct

[2017-09-14 13:08] r-raymond commented on #11
Note that your rDNS entry has to be set correctly, but the FQDN does _not_ have to match the sending address. Let's say you have the domains `a.com` and `b.com` and a server with correct DNS and rDNS entry at `mx.c.com`. You can use that to send and receive emails for addresses from both `a.com` and `b.com` (i.e. as soon as we have multiple domains :) as long as you set a mx record to `mx.c.com` f

[2017-09-14 17:38] phdoerfler opened #12 "Turn off Spam reject by postfix?"
I'd like postfix to not reject spam messages for if they are classified as spam wrongly I will be unable to see them. I believe it'd be better if they are accepted by postfix only to then be classified as spam by rspamd and put into the Junk folder for later review.

I ran into this behaviour while running fetchmail which every once in a while said this:

[code]

Thoughts?

[2017-09-14 17:43] r-raymond commented on #12
Sorry, I don't understand. Can you describe how to reproduce the issue? Are you using fetchmail to send email? Are you using port 25 or  587? Are you authenticated?

[2017-09-14 17:46] phdoerfler commented on #12
I use fetchmail to fetch mail from some existing mail accounts that I got. It then hands the mail over to the local postfix which then eventually gives it to the milters and to dovecot via LMTP which then puts it through the sieve scripts and then it ends up in the correct mailboxes.

I have not told fetchmail anything about ports or authentication.

[2017-09-14 17:58] r-raymond commented on #12
Ah I see. It seems that the the error you are getting is not related to spam, but rather that there is a `RCPT TO`, `MAIL FROM` [mismatch](https://support.symantec.com/en_US/article.TECH169847.html). I'll have to think about why this is happening. On the other hand, isn't that simply a job for procmail?

[2017-09-14 18:04] phdoerfler commented on #12
Thanks for the clarification. I was assuming that "SMTP error: 554" means it is postfix who is rejecting accepting the mail. I also believe it should indeed be a job for procmail / sieve to decide what is to happen with such mails.

[2017-09-14 23:24] eqyiel opened #13 "See if it's possible to leverage the nixcloud.email service when it lands in nixpkgs"
Ref: https://github.com/NixOS/nixpkgs/pull/29366

[2017-09-15 05:56] r-raymond commented on #13
It seems to be a fairly identical effort. Maybe we can pool resources?

[2017-09-15 22:03] qknight commented on #13
sounds great. where to start?

[2017-09-16 08:42] r-raymond commented on #13
I'm working on an extensible test suite right now, to make sure future commits don't break things. For that I need to find out how to integrate the nix tests with a CI solution, any help there is welcome.

Some new features that are fun projects are
 * Multidomain rewrite
 * Certificate creation scheme with Let's Encrypt (that should be fairly simple, I mostly avoided it so far, because it makes t

[2017-09-16 09:07] r-raymond commented on #13
Looking at you feature list

 *  virtualMail user abstraction
 *  easy way to assign passwords for mail users declaratively
 *   optional greylisting
 *   optional spamassassin
 *   explicit ipv4/ipv6 support
 *   sieve filters working
 *   automated ACME (for example: mail.lastlog.de)
 *   helpful defaults to communicate with gmail and others
 *   catchall

It seems like SNM could benefit from

[2017-09-16 16:24] qknight commented on #13
so a few things we are working on would be those

# future

* spamassassin should call `sa-learn` per virtualMail account
* automate DNS deployment with `nixcloud.dns`
* webmail support via `mail.youpickedthedomain.tld` using horde or similar
* enforce SPF/DKIM via DMARC policies
* postfix: satellite setups
* postfix DNSSEC
* DANE
* mailinglists using mailman
* header checks

# obvious things

* d

[2017-09-17 00:16] eqyiel commented on #13
@qknight @r-raymond I'm happy to see you are willing to collaborate!

@r-raymond would you consider moving this repo to an organisation?

[2017-09-17 08:06] r-raymond commented on #13
@eqyiel Yes, that's the obvious step.

@qknight Are you willing to integrate your work into SNM if I move the repo to an organisation? Or do you suggest a different course of action?

[2017-09-17 08:28] qknight commented on #13
@r-raymond @eqyiel
i think we should try to get it into nixpkgs but if that fails we should put it into an organization!

[2017-09-17 08:45] qknight commented on #13
this is the issue i'll be solving next:
https://github.com/NixOS/nixpkgs/issues/29414

[2017-09-20 13:44] phdoerfler opened #16 "Expose rspamd's web interface"
This depends on https://github.com/NixOS/nixpkgs/blob/master/nixos/modules/services/mail/rspamd.nix getting an option for [setting](https://rspamd.com/doc/quickstart.html#setting-the-controller-password) the controller `password`. Since does neither `rspamd.nix` offer such an option nor a way to add `extraConfig` a change to that nix file has to be made.
Once this is done the [web interface](https

[2017-09-20 14:22] r-raymond commented on #16
While the original idea was to not include a web server at all, I'd like to see this as an _opt in_ feature.
To be honest though, once we have a full fledged web server running, the question arises if we should also provide some kind of groupware solution.

[2017-09-20 14:30] phdoerfler commented on #16
I agree. I personally don't see the need to include a groupware solution bt YMMV. Perhaps something small and tiny of the size of roundcubemail but IMHO that's highly optional.
This is just about making available the functionality that's already there. `rspamd` already starts the web interface and its web server - might as well use it. After all that is one of its benefits over spamassassin. The p

[2017-09-20 14:36] r-raymond commented on #16
Ok, I'll try to include this as soon as the Let's Encrypt certificates have landed.

[2017-09-20 14:38] phdoerfler commented on #16
Regarding those certificates, ignoring the changes necessary for postfix, dovecot and so on this is all it needs, assuming you haven't found out by yourself already:

[code]

[2017-09-21 00:38] eqyiel commented on #16
@phdoerfler @r-raymond regarding Let's Encrypt, I don't have time to put together a PR right now, but this is how I have approached it in the past:

[code]

This is more or less what the `enableACME` option does, but it gives you a bit more control over the resulting certificate (maybe you want to add some extra hostnames to it or something) and you are able to specify the postrun clause.

The one

[2017-09-21 06:48] r-raymond commented on #16
@phdoerfler @eqyiel thanks for the suggestions. Since we already have a "create certificates on the fly" option, the preliminary certificates are not an issue.

The biggest time requirement for this is surely testing the whole setup, as I now need to put it on an actual static IP, not on my local VM. I used to use `Vultr` for this, is there a better option out there today?

[2017-09-21 14:26] r-raymond commented on #10
Ok, CI is set up (see the travisci branch). For some strange reason, I cannot set the vmail user name and group anymore, as it results in duplicate set warnings.

[2017-09-21 20:31] eqyiel commented on #16
@r-raymond maybe the free tier AWS/EC2?  In my experience NixOps works really well there.

[2017-09-23 06:20] r-raymond commented on #10
Seems to be a problem of nixpkgs-unstable.

[2017-10-17 15:09] nico202 opened #18 "vmail.group defined multiple times"
I get:
error: The unique option `users.users.vmail.group' is defined multiple times, in `/nix/var/nix/profiles/per-user/root/channels/nixos/nixpkgs/nixos/modules/config/users-groups.nix' and `/nix/var/nix/profiles/per-user/root/channels/nixos/nixpkgs/nixos/modules/config/users-groups.nix'.
(use ‘--show-trace’ to show detailed location information)

[2017-10-17 15:32] r-raymond commented on #18
This is the same error that travis CI is producing, I can't reproduce it on my system. See also travis-ci/travis-ci#8483 were I reported the error. You can work around for now, by removing the two lines mentioned in the travis-ci bug report.

Are you on Nixos or use Nix on a different distribution?

[2017-10-17 15:56] nico202 commented on #18
Didn't know of this report, work-arounded the same way. However, I'm on NixOS.

nix-instantiate --eval '<nixpkgs>' -A lib.nixpkgsVersion
"18.03pre117327.3fe7cddc30"

nixos-version: 18.03pre117327.3fe7cddc30 (Impala)

[2017-10-17 17:46] r-raymond commented on #18
Hmm this is strange. If I leave the lines out on a fresh virtualbox, I get the error that the vmail user does not exist (what I'd expect). Seems as though Nix somehow sets the vmail user without the user doing anything. I'll investigate further.

[2017-10-18 07:22] r-raymond commented on #18
Ok, the problem seems to be related to the exact user name "vmail". Maybe you already have such a user on your system? Anyway, I fixed it by renaming the group and user name to "virtualMail". Let me know if that fixes it for you too.

[2017-10-18 07:24] r-raymond commented on #18
Nevermind, this is definitely a bug in nixpkgs. If I specify the name "vmail2" it works, with "virtualMail" it seems to fail again...

[2017-11-05 09:44] #18 closed

[2017-11-05 09:55] r-raymond commented on #10
Fixed by #19

[2017-11-05 09:55] #10 closed

[2017-11-09 00:20] jbboehr opened #21 "ACME certificate location"
At least on NixOS 17.09, it appears the certs are in `/var/lib/acme/${host}` and not `/var/lib/acme/acme-challenge/${host}` and the private key is called `key.pem` and not `privkey.pem`

[code]

[2017-11-09 07:24] r-raymond commented on #21
Thanks for the report! This part is unfortunately notoriously hard to test as it involves setting up the domain records.

Personally I'm still using self signed certs, I need to update my server once I find some time.

Thanks!

[2017-11-09 08:07] jbboehr commented on #21
Fixed by 3d2f41d

[2017-11-09 08:07] #21 closed

[2017-11-09 08:26] jbboehr commented on #21
@r-raymond Off-topic, but is the planned 'Multiple domains' feature distinct domains or domain aliases? I'm more interested in the latter, personally.

[2017-11-09 08:34] r-raymond commented on #21
Distinct domains. What exactly do you mean with domain aliases? It will certainly allow you to alias mail addresses across domain boarders. Basically, it should add more domains into the virtual domains file.

This would allow me to drop my other email servers. It should not be hard to implement, but unfortunately I'm kind of swamped right now. Any help is welcome!

[2017-11-09 09:28] jbboehr commented on #21
In my current setup (Ubuntu) that I'm trying to migrate to NixOS I have several domains on one server and, for example, `user@domain1.com` and `user@domain2.com` have the same mailbox. How did I set this up originally? No idea, but if I had done it via nix maybe it would've been easier to figure it out.

[2017-11-09 10:20] r-raymond commented on #21
That should be unproblematic. You can just add the virtual domains

[code]

add a user

[code]

and set up an alias

[code]

to achieve this. However, first multiple domains need to be implemented :)

On 11/09, John Boehr wrote:

[2017-11-09 18:06] jbboehr commented on #21
Well, I'll take a stab at it, but I'm a Nix and Postfix noob, so don't hold your breath.

[2017-11-09 18:23] r-raymond commented on #21
Sounds great!

The steps needed are

1) turn cfg.domain into a list or something
2) Replace

# vhosts_file :: Path
vhosts_file = builtins.toFile "vhosts" cfg.domain;

in postfix.nix

That should turn on multidomain support, but various things will be broken then.
E.g. the aliases are specified simply by "info" "user1" right now, they will
need to also state the domain. Wherever "cfg.domain" is use

[2017-11-09 18:25] r-raymond commented on #21
Oh, and if you have any questions, feel free to ask

On 11/09, John Boehr wrote:

[2017-11-09 21:43] eqyiel commented on #13
It looks like this is not happening any more, but the first part of this issue is still relevant (see if it's possible to leverage nixcloud.email).  @qknight said something interesting about hashing modules to see if the upstream definition changed: https://github.com/NixOS/nixpkgs/pull/29366#issuecomment-341986348

That sounds like a really good idea and would prevent stuff like this: https://git

[2017-11-10 03:23] eqyiel commented on #21
@r-raymond I think you missed one: https://github.com/r-raymond/nixos-mailserver/blob/3d2f41dedca389355d2c4a8c125a4d440c4484f7/mail-server/nginx.nix#L38

[2017-11-10 07:24] r-raymond commented on #13
Pinning sounds like a good idea. I don't know about hashing, as any bug fix or
security patch (unrelated or not) would break the the hash. But I guess we would
need more informations. Let me know what you find out!

On 11/09, Ruben Maher wrote:

[2017-11-10 07:30] r-raymond commented on #21
Now I'm confused, the documentation seems to indicate that this is where the keys and certs are stored. Has this changed? Can anyone confirm this? I'm unfortunately not able before tonight.

[2017-11-10 07:36] jbboehr commented on #21
@r-raymond @eqyiel The `acmeRoot` should be `/var/lib/acme/acme-challenge`. This is the webroot where the challenge responses are placed for serving by e.g. nginx. The actual generated certs are placed in `/var/lib/acme/${domain}/` (this is what I changed).

https://github.com/NixOS/nixpkgs/blob/97a2cd07481beef15f3e286f64a8a40b918e30de/nixos/modules/services/web-servers/nginx/default.nix#L16

[2017-11-10 07:53] r-raymond commented on #21
Ok thanks for verifying. The description

"Directory to store certificates and keys managed by the ACME service."

seems a little misleading :)

On 11/10, John Boehr wrote:

[2017-11-11 05:52] eqyiel commented on #21
My bad!

[2017-11-11 13:05] r-raymond opened #24 "Fix dkim signing for multiple domains"

[2017-11-11 15:07] #24 closed

[2017-11-11 15:17] r-raymond commented on #11
This should be addressed by the multiple domain extension. You can now specify `fqdn = whatever.you.like;` independent of the host name

[2017-11-11 16:58] r-raymond opened #25 "Move from rmilter to rspamd"
With rmilter being deprecated, we should move the scanning system over to rspamd

[2017-11-11 19:50] jbboehr opened #26 "Version or hash pinning instructions"
It would be nice to have the ability to include it in the system configuration using hash or at least revision pinning (like every other nix package).

I tried several ways (`mkDerivation`, `fetchFromGithub`, [stage1 nixpkgs](https://gist.github.com/taktoa/4ec8b0cb6d07857400b07a830ad99558)) but always ran into issues, mostly infinite recursion.

At the moment, I'm just using a git checkout in `/et

[2017-11-12 02:14] eqyiel commented on #26
@jbboehr FYI there's a bit of dicussion about this in another issue https://github.com/r-raymond/nixos-mailserver/issues/13#issuecomment-343301189

[2017-11-12 08:11] jbboehr commented on #26
Ah great. It sounds like fetchTarball is going to have hash support in nix 1.12, but the default version is 1.11.

https://github.com/NixOS/nix/issues/1299

[2017-11-12 08:26] jbboehr commented on #26
It sounds like the discussion is about pinning a specific nixpkgs version used by this project, however I'm talking about pinning a specific version of this project used by my system configuration.

Using fetchTarball on a tag or specific revision works fine now I think, but the hash is required to ensure the integrity of the data - the commit referenced by a tag can be changed, although most peop

[2017-11-12 10:30] r-raymond commented on #26
Ah I see. I find it curious that `fetchTarball` does not have a hash check yet (and really it should also allow to verify the PGP signature). I guess one way is to manually download the package, check it via `gpg` and and then use the local files. Do you thing I should include a description of how to do that in the README?

[2017-11-12 14:32] #11 closed

[2017-11-12 16:37] jbboehr commented on #26
I don't think any of the `fetch*` functions include PGP checking. You could download it, check the PGP signature and then get the hash from that.

fetchTarball is different than all of the other fetch functions in that it is a builtin. The other ones all seem to cause infinite recursion due to a circular dependency on the system config.

You could, but the fundamental issue with the `fetchTarball`

[2017-11-12 22:01] eqyiel commented on #26
@jbboehr one thing you can do is use a git submodule, that way it will be pinned to a specific commit: https://github.com/eqyiel/deployments/tree/master/realms/tomoyo.maher.fyi/lib

[2017-11-13 18:50] jbboehr commented on #26
Yep, that's what I'm doing now.

[2017-11-13 18:50] #26 closed

[2017-11-15 20:51] r-raymond opened #34 "Implement automatic backup system"
Maybe with a local/offsite option using rsync

[2017-11-16 00:49] phdoerfler commented on #25
I am in favor of rspamd. It also provides very useful statistics graphically.

[2017-11-16 00:50] phdoerfler commented on #16
I have my nixos server running on vultr, too. Don’t see anything wrong with it.

[2017-11-16 00:54] phdoerfler commented on #34
Very good idea. Additional thoughts: there is rsnapshot which provides backup functionality using rsync. Also I personally find it nice if my software provides me with simple stats such as „deleted 842 messages since yesterday“ so I can spot when something goes horribly wrong. Or else I might not notice the need to restore a backup for when it is too late. But that‘s of course fancy extras.

[2017-11-16 07:20] r-raymond commented on #16
Don't get me wrong, `vultr` is awesome for letting you pick arbitrary iso's to boot, but they are a little more expensive as say `scaleway`.

[2017-11-16 07:28] r-raymond commented on #34
Awesome idea. Seems like `awstats` would be a good candidate for that. Form a first glance it seems as we would need to get some patches into `nixpkgs` to make this work.

[2017-11-16 07:34] r-raymond opened #35 "Add a log analyzer"
Maybe `awstats` is a good candidate

[2017-11-16 08:39] r-raymond commented on #25
NixOS/nixpkgs#31734 upstream patch.

Kind of unclear what we are supposed to do until it lands in a stable release though.

[2017-11-18 02:52] eqyiel opened #36 "User defined sieve scripts"
This is on the list of future plans in the readme and it's something I want so I'll write about what I've tried.  There are several ways to do this but I don't know what's best for this repo.

We need to put a file called `~/.dovecot.sieve` in the user's home directory.  We can do this:

1. Declaratively using [home-manager](https://github.com/rycee/home-manager).  This would require creating a ho

[2017-11-18 07:33] r-raymond commented on #36
Thanks for working that out! Now I have little experience with sieve scripts, but couldn't we use
[Per-user Sieve script location](https://wiki2.dovecot.org/Pigeonhole/Sieve/Configuration) to simply dump the scripts into `/var/sieve/user1@domain.com.sieve` and it should work?
[code]

That way we would not need to re-implement user management by manually writing passwd files and the accounts would

[2017-11-18 08:32] eqyiel commented on #36
@r-raymond that's a great idea, I'll adjust the PR tomorrow!

[2017-11-21 06:05] eqyiel commented on #36
#37

[2017-11-21 06:05] #36 closed

[2017-11-21 07:56] r-raymond opened #41 "Allow the setting of maildir folder names"

[2017-11-21 16:54] qknight commented on #13
@eqyiel we released https://github.com/nixcloud/nixcloud-webservices a few days ago, have a look at the nixcloud.email documentation.

[2017-11-21 22:03] eqyiel commented on #13
@qknight thanks!

[2017-11-23 18:11] jbboehr commented on #34
I was looking into a full-ish backup for my system (`/var` `/home` `/etc/nixos`), and I'm partial to duplicity's support for one-way encryption using a GPG public key. Most other systems don't seem to support this, probably for technical/convenience reasons.

I looked into all of the backup systems in nixpkgs and none of them were easy to configure and had support for one-way encryption.

This see

[2017-11-23 18:31] r-raymond commented on #34
Interesting thought. I don't have anything special planned, but it should be a simple "i want backups" tick box for SNM, since most users probably don't care where the stuff to back up is stored.

So I guess we could add a simple systemd module that periodically calls duplicity.

Do you have any idea how to do key management? Should the GPG key be created on the fly? Also we would need to remind t

[2017-11-23 19:00] jbboehr commented on #34
I guess practically speaking asymmetric encryption might not be that useful since the data is already located where the private key would be stored, unless there's value in making deleted data inaccessible to the server, or I'm not thinking of something.

If one was to do one-way asymmetric encryption, I assume you would specify the public key as part of the configuration and keep the private key

[2017-11-24 08:22] jbboehr commented on #34
FYI, I'm going with tarsnap on my personal setup for the moment.

[2017-11-24 08:56] r-raymond commented on #34
Well if someone is on the server then yes, but I guess the idea is that the backups can be put somewhere you do not trust.

Looking at the implemented services in Nixos (basically tarsnap and rsnapshot) I'd rule out the first for being a paid service and the second for not allowing to __push__ backups from the server.

So I think a custom cron script or systemd unit is probably the best option rig

[2017-11-24 17:54] jbboehr commented on #34
Well, you can do that with symmetric encryption.

[2017-11-25 20:10] dotlambda opened #42 "Opening port 80 when using certificateScheme=3"
I set up a nixos-mailserver with automatic LE certificates. But when I ran `nixos-rebuild`, the `acme-example.org` service failed, because Let's Encrypt wasn't able to connect to my server (timeout).
When I set
[code]
it works like a charm.

First of all, it took some time to figure this out.Therefore, I think we should automatically open port 80 when using `certificateScheme = 3`.
Second, I don't

[2017-11-26 06:49] r-raymond commented on #42
Sry for running into this, it should have been documented better. I'd be kind of uncomfortable though to let port 80 open the whole time for no reason. It seems as if this is something that needs to be fixed upstream, i.e. the ACME certificate obtaining process should temporarily change the firewall.

Do you think mentioning in the docs that one has to temporarily open port 80 is sufficient?

[2017-11-26 06:52] r-raymond commented on #42
On the other hand I just noticed that one would have to reopen the port every 3 months for the update. I guess it is best to just open it.

[2017-11-26 06:59] #42 closed

[2017-11-26 08:37] dotlambda commented on #42
Well the question is: Do you see any possibility to automatically open and close it again every 3 months?

[2017-11-26 08:54] r-raymond commented on #42
I don't but as I said this would need to be integrated upstream, as the
certificate renewal process knows when to open these ports.

Otherwise we could ditch the implemented renewal and do it ourselves, which
sounds tedious.

If anyone is aware of a possibility let me know!

On 11/26, Robert Schütz wrote:

[2017-11-26 10:32] geistesk opened #43 "Postfix has wrong hostname"
After setting up a mailserver (_tag v2.0.1_) and setting my FQDN in `mailserver.fqdn`, which is `$hostname.$domain` for me, Postfix was sending mails from `$hostname.localdomain`. Also configuring `services.postfix.hostname = "$hostname.$domain";` solved this issue for me.
However, I think that this extra line of configuration shouldn't be necessary and should be done by this mailserver.

Thanks f

[2017-11-26 10:42] r-raymond commented on #43
Sorry for the inconvenience! I have no idea how this slipped through the tests. Let me try to reproduce this with the tests. Do you want to to send a patch?

Thanks for trying out SNM!

[2017-11-26 10:49] geistesk commented on #43
I haven't patched SNM at all. My current fix was just adding `services.postfix.hostname = "…";` to my `configuration.nix`.
However, I'd write a patch and send you the PR.

[2017-11-26 11:00] r-raymond commented on #43
Awesome. I just added a test which makes sure this remains unbroken in the furture

[2017-11-26 11:00] #43 closed

[2017-11-26 14:02] r-raymond opened #46 "Move documentation to wiki"

[2017-11-27 22:01] dotlambda opened #47 "Using getmail with SNM"
I'm trying to setup getmail so that it fetches mail from some POP3 server, let's suppose Gmail, and delivers it to the IMAP mailbox.
But I'm neither having luck using
[code]
nor
[code]

Does someone have an idea how to configure getmail properly such that mail really gets delivered?
Both above methods don't yield any errors but mail doesn't show up in the INBOX.

[2017-11-27 22:31] r-raymond commented on #47
Disclaimer: I don't know getmail and I don't think I completely understand what you want to do. Anyway if you want to inject mails into SNM you can either

1) deliver to the SMTP (Postfix)
2) deliver to Dovecot via LMTP (I think LMTP replaced LDA, I'm not sure if LDA is available).
3) directly write into maildir

If you use 1) the mail will be virus / spam / dkim checked. 2) is probably easier if

[2017-11-27 23:46] dotlambda commented on #47
Thanks for your quick reply, @r-raymond!

Essentially, I have a Gmail account I don't use anymore. But people still send mails to that account. Therefore, I want these mails to appear in my `user@example.org` inbox. I plan to fetch them using getmail.

Regarding 2): Using `lmtp` and `user = virtualMail` doesn't change anything: getmail still says that the emails are dlivered but they never show up

[2017-11-28 00:39] dotlambda commented on #47
Never mind, I found the issue:
[code]
When sending a new mail with a specified msgid, both 2) and 3) work like a charm.

But to use the preconfigured spam filtering it would be nice to use option 1) after all. If there's no easy way to do this with getmail I might have to use fetchmail instead.

[2017-11-28 00:39] #47 closed

[2017-11-28 08:59] r-raymond commented on #25
rspamd 1.6.5 is now in unstable so the transition can begin

[2017-11-28 09:30] dotlambda commented on #47
The obvious solution for 1) is using Postfix's
[code]
I must have been blind.

I think I'll use `-f postmaster@example.org` so that I am notified whenever an email bounces.

[2017-11-28 11:00] r-raymond commented on #47
I'm glad you found a solution that works for you. However, wouldn't it be easier
to simply tell google to forward your email? That's what I do with old hotmail
addresses, university addresses, etc.

On 11/28, Robert Schütz wrote:

[2017-12-10 10:06] phdoerfler commented on #34
@r-raymond regarding rsnapshot: I would have just set up something on my local computer that would every once in a while tar the rsnapshot backup and pull it. And then it gets backed up by timemachine locally, again. But I suppose you'd want something that does not require anything additional on a client computer?

[2017-12-10 10:36] r-raymond commented on #34
I think it would be convenient if one could simply specify an IP and the tar's get copied there via ssh. If one really wants local backups, specifying "backup@localhost" would work too then.

I just think the backup's should be pushed rather than pulled, because the latter would require some logic on an external server, whereas the former can be implemented on the mail server.

[2017-12-10 12:58] phdoerfler commented on #16
Oh I did not know about scaleway. There exist instructions on [how to install NixOS on scaleway](https://gist.github.com/ldesgoui/598648a1af42a451c23657b548b250db). Those don't look too bad to me.

[2017-12-10 13:02] r-raymond commented on #16
Awesome find! I'll have to try that asap.

[2017-12-10 23:13] eqyiel commented on #26
@jbboehr I had to look at this again recently and found another way, in case you are still interested: https://github.com/eqyiel/node-imapnotify/blob/442d67892f798869e7bd732e82a626b0d6487957/tests/mail-server.nix#L60

You can make a derivation from this git repo and import default.nix from there.

[2017-12-11 07:41] r-raymond commented on #26
If you arrived at a satisfying construction, would you mind sharing it (somewhere in the readme)? Thanks!

[2017-12-11 17:08] phdoerfler commented on #34
Another idea: https://wiki2.dovecot.org/Tools/Doveadm/Sync allows you to perform backups. This relies on dovecot which already handles the mail anyway.
With this one can easily convert the Maildirs into mboxes, which are great for archiving. This is actually pointed out by the dovecot documentation.
One advantage I see is that this is potentially more consistent (as in atomic operation) than say c

[2017-12-11 20:10] jbboehr commented on #26
It seems to work alright in the configuration in `/etx/nixos` as long as you do it like this (please excuse the non-idiomatic code):

[code]

If you use pkgs, there is infinite recursion. My guess is the presence of dontBuild is what is causing it to work vs what I've tried before.

[2017-12-12 00:37] eqyiel commented on #26
@jbboehr you can actually make it more succinct than that:

https://github.com/eqyiel/node-imapnotify/blob/nixos-mailserver-import-test/tests/mail-server.nix#L29-L36

[code]

You can update the hash using `nix-prefetch-git` (`nix-env -i nix-prefetch-git`, from
https://github.com/NixOS/nixpkgs/blob/b4a0c011e81989d8c9e93d8874fae3a072aaacec/pkgs/tools/package-management/nix-prefetch-scripts/default.n

[2017-12-16 02:05] yrashk opened #49 "Catch-all aliases"
Hi, first of all thanks for this great project. I already deployed it in small-scale production.

I was wondering if you have any plans for catch-all aliases/forwarders; or if I can, perhaps, contribute this?

[2017-12-16 12:14] r-raymond commented on #49
Hi, awesome idea!

Contributions are very welcome! If you need any help implementing the feature, let me know; I'm not at home this weekend, but I can answer any questions on monday.

Did you run into any problems during deployment? Anything we could make smoother for the users?

Thanks for the initiative!

[2017-12-17 12:09] r-raymond commented on #34
This is in awesome idea, I'll look into using this for implementing the backup system. Thanks for the link!

[2017-12-17 22:52] eqyiel commented on #49
@yrashk this is already possible:

[code]

This way all mails to users that don't exist go to my inbox.

Unless I've misunderstood you?

[2017-12-17 23:52] yrashk commented on #49
Just tested, worked perfectly. Thank you!

As for your original question -- so far I had no hiccups with your setup,
denting was smooth! Thank you for all the work you put into it.

On Dec 18, 2017 5:52 AM, "Ruben Maher" <notifications@github.com> wrote:

[2017-12-18 01:24] phdoerfler commented on #34
Bear in mind though that dsync seems to be a bit more involved in terms of configuration.

I threw together a quick backup for my own instance of this Mailserver with rsnapshot and that works really well so far. Shall I submit this as a PR? It’s dead simple and we could make it a nixos module that can be enabled independently. At the very least it provides diffs that allow to check what went wrong

[2017-12-18 08:47] r-raymond commented on #49
I was not aware this was already possible :) (I'm not a big fan of catch all's) We should explicitly document this, or maybe add it to the domain list? Sth. like

[code]

maybe?

[2017-12-18 08:50] r-raymond commented on #34
Sounds great, looking forward to the PR :)

[2017-12-18 10:30] yrashk commented on #49
I like the idea of having a dedicated, explicit configuration option for
this.

On Dec 18, 2017 3:47 PM, "Robin Raymond" <notifications@github.com> wrote:

[2017-12-18 11:30] r-raymond commented on #49
Ok, I added a catchAll field to the userAccounts, i.e. you can now

[code]

To make `a@a.com` a catch all for both `a.com` and `b.com`. I would recommend using this over the suggested solution, because otherwise the catchAll address also gets the right to send as every user og this domain.

[2017-12-19 04:06] yrashk commented on #49
Awesome stuff! Thank you so much.

[2017-12-19 04:06] #49 closed

[2017-12-19 22:48] eqyiel commented on #49
@r-raymond it looks like this option makes _all_ of the mail to the `catchAll` domain go to that user, regardless of whether it is addressed to an existing user.  Is that intentional?

I suspect it's because the virtual_alias_map only includes the catchAll address.

I'll see if I can come up with a test to show this...

[2017-12-20 07:33] r-raymond commented on #49
Oops. I just assumed postfix does the sane thing here, I guess I was wrong. Thank you very much for keeping an eye out for that!

[2017-12-22 17:54] r-raymond opened #51 "Build of v2.1 is failing"
However, the tests seem to succeed.

[2017-12-28 15:45] r-raymond commented on #51
Fixed in 3b9b796

[2017-12-28 15:45] #51 closed

[2018-01-03 18:13] phdoerfler opened #52 "rspamd fails to resolve domains"
On my server `rspamd` fills up the log with lines like these roughly once per minute:

[code]

I've only found https://github.com/vstakhov/rspamd/issues/1553 mentioning this and it suggests a config error.
Is anyone else getting these log messages?

[2018-01-03 18:34] phdoerfler commented on #34
Just as a heads up: I'm currently working on this. I am improving my current solution which solely used rsnapshot without any additional fancyness and I'd like to outline my thought process on this:

- while maildir does not require locking dovecot uses an own version of the maildir standard which does require locking or else you might miss a few mails in a backup. For this, dovecot provides a too

[2018-01-03 22:06] r-raymond commented on #52
This is indeed a problem with rspamd on nixos. It seems though as it does not jeopardize the functionality of it. rspamd website suggests hosting a DNS resolver, maybe that would solve the problem?

Btw, what rspamd version do you run? (I.e. are you on stable or unstable)

[2018-01-03 22:09] r-raymond commented on #34
Cool. Did you get around the problem with the pushing vs. pulling? I.e. is the backup logic on the server?

[2018-01-06 13:11] erosennin opened #53 "Unable to activate a Sieve script via ManageSieve"
Hi, I'm migrating my mail server from Debian to nixos-mailserver and it mostly works great! Thanks for the project. :)

The only problem I've faced so far is broken activation of Sieve scripts. I was successfully able to upload a Sieve script with KMail, but trying to activate the scripts results in this error:

I'm using nixos-mailserver-2.0.4 on NixOS 17.09.

Thanks!

[2018-01-06 13:24] r-raymond commented on #53
Hi, thanks for using SNM! I'm hoping @eqyiel has some more insights, since I'm not using custom sieve scripts myself.

The idea is however, that you specify the sieve scripts in your configuration file (see https://github.com/r-raymond/nixos-mailserver/blob/cd9e790f21d26aa6a6588715d18a66a18899b7f6/default.nix#L81) instead of uploading it after deploying the server (the idea being: no state).

Is t

[2018-01-06 19:28] erosennin commented on #53
Managing Sieve scripts as part of the configuration is great for a personal mail server, but does not really scale to multi-user servers. On a typical mail server, most users do not have root access to the system, but may still want to use custom Sieve scripts.

How about using `sieve_default` and `sieve_default_name` options for the script from the configufation file? This way, the script from th

[2018-01-06 19:45] r-raymond commented on #53
That sounds like a good plan. We need to make sure it behaves well with our default script defined via `dovecot2.sieveScript` and the current custom script implementation. Maybe we can add an option whether to allow users to override sieve scripts?

Do you want to make a PR for this? I could do it too, but I'm a little busy right now and certainly no expert on sieve scripts.

[2018-01-07 03:31] eqyiel commented on #53
@erosennin it would probably be sufficient to just add here: https://github.com/r-raymond/nixos-mailserver/blob/cd9e790f21d26aa6a6588715d18a66a18899b7f6/mail-server/dovecot.nix#L111-L113

[code]

I'd be happy to give it a go if this works for you 👍

[2018-01-07 03:44] eqyiel commented on #53
Don't forget to open port 4190 too, maybe we should make a configuration option for this?

[2018-01-07 07:43] erosennin commented on #53
Thanks, I'll try to make a pull request.

[2018-01-07 17:58] erosennin commented on #52
Running a local DNS resolver fixed the problem for me:

[code]

[2018-01-07 18:01] r-raymond commented on #52
Thanks for verifying this. I'll add this to the next version!

[2018-01-08 01:05] phdoerfler commented on #52
@r-raymond I am on `17.09-small` so yes: stable.

[2018-01-08 01:08] phdoerfler opened #55 "Notification when free space is low"
Not sure how to tackle this the best, but I bet there are tools / services available that send an email to root@localhost when there is less than X GiB free space. I feel like this would make for a very nice addition to a mail server. Or this is a separate issue and should not be part of this repository. Thoughts?

[2018-01-08 10:03] r-raymond commented on #55
Sounds like a cool plan. I think I would simply combine that with #35 to send a daily mail including the used space. I think it should send to the postmaster addresses instead of root@localhost. Maybe one should be able to specify a "maitenance address" where such logs get sent.

For the tool itself, I think a simple

[code]

should do the trick.

[2018-01-08 13:01] #53 closed

[2018-01-12 19:13] phdoerfler commented on #34
TL;DR: `dsync` is not as awesome as I thought, so this will take a bit longer.

@r-raymond I have not yet tackled the pushing vs. pulling. I don't think this will be a problem at all. I'm completely counting on rsnapshots ability to launch custom scripts during and at the beginning / end of the backup process.

I have come up with a rather involved solution using both dovecots dsync and some of ni

[2018-01-12 19:23] phdoerfler commented on #55
I don't know about others but at least I tend to overlook mails that are generated daily and contain more or less the same content each day.
I was more thinking along the lines of a "ALERT: only 200 MiB space remaining on /" that is hard to miss. Having no free space means being unable to receive any more mails from outside so this is something that then should be solved ASAP. Also: `nix-collect-g

[2018-01-12 20:58] phdoerfler commented on #55
I went ahead and set up monix. I know it adds another moving part, but at least it doesn't open any ports to the outside world. And between "homebrew some funky bash script" and "use some existing lightweight tool" I think it is obvious what to choose.

I shall file this as a PR but we should introduce a config option for what mail address to send important things (like: disk space low, some cron

[2018-01-12 21:58] phdoerfler commented on #52
I was writing a PR for this, adding the solution by @erosennin but when I put both lines in my configuration, the name resolution broke:

`kresd` failed to start because of this:

    fetch of "https://data.iana.org/root-anchors/root-anchors.xml" failed: host or service not provided, or not known

I then removed this line:

    networking.nameservers = [ "127.0.0.1" ];

after which `kresd` was abl

[2018-01-12 22:21] erosennin commented on #52
@phdoerfler this is fixed in master, [`kresd` now uses DNSSEC root trust anchors from nixpkgs](https://github.com/NixOS/nixpkgs/commit/3ab85ed1aca250501bcd098f5c304e3ddde96e79). The fix is already in the `nixos-unstable-small` channel (but not in `nixos-unstable` yet).

[2018-01-12 22:23] phdoerfler commented on #52
@erosennin Interesting! My PR uses `insertNameservers` and I still get these errors logged :/

[2018-01-13 07:13] r-raymond commented on #55
Hmm, I agree monit looks tempting. Crazy world we live in where the bash "one-liner" gets replaced by the "small tool" that runs a http server.

Anyway, I think we can utilize monit for more than just disk usage in the future, so I feel ok to include it at this point

[2018-01-13 07:32] r-raymond commented on #34
I would just ignore the problem. I mean, yes I can construct a scenario where we would miss an email during backup but it is _very_ unlikely and since we should have multiple backups, the chance of it missing in all backups is probably less than the chance of the being eaten by a shark. I vote for vanilla rnsapshot.

Thanks for pouring all this time into the problem, I hope you get to profit from

[2018-01-14 13:16] phdoerfler commented on #34
Alright. Vanilla rsnapshot it is then. I noticed that `dsync` does tell you in the end if the export was incomplete because things happened during the backup, so there is at least that. But in the interest of keeping things simple I'll revert back to the simple stupid backup and save the complicated one for a rainy day when I'm really bored (AKA never).

[2018-01-16 12:36] vstakhov commented on #25
By the way, you can remove OpenDKIM completely if you switch to the recent Rspamd.

[2018-01-16 12:40] r-raymond commented on #25
@vstakhov, we use opendkim only for key creation right now, rmilter does the signing. Thanks for pointing it out though!

[2018-01-16 12:48] vstakhov commented on #25
Rmilter also uses libopendkim. Rspamd does not uses it on the contrary.
Hence, if you throw off Rmilter you won't need any traces of opendkim as
well. Rspamadm tool from rspamd distribution can generate dkim keys and DNS
records.

On 16 January 2018 12:40:41 pm Robin Raymond <notifications@github.com> wrote:

[2018-01-18 00:02] telent opened #59 "Any way to forward to non-local addresses?"
I'm very much liking this batteries-included approach to mail service: thank you for writing and maintaining it.

I had a look at the docs and I skimmed the code though I can't claim I understand it well.  Is there anyway to create an alias that forwards email to a remote address?  For example, suppose SNM is serving my  vanity domain `bad.example.com` and I want mail for `nextdoor@bad.example.com

[2018-01-18 00:12] telent commented on #59
Oh, I think I've answered my own question: use a sieveScript

[code]

[2018-01-18 00:12] #59 closed

[2018-01-18 10:56] r-raymond commented on #59
Thanks for using SNM, I'm glad you figured out your problem. This should be documented however, maybe a wiki howto section?

[2018-01-28 17:27] katyo opened #60 "Support architectures else than x86_64"
I setting up mail server on i686 machine and I have a next problem:

[code]

[2018-01-28 19:45] griff commented on #16
NixOS has a test helper that sets up its own letsencrypt server to test letsencrypt options [nixos/tests/common/letsencrypt.nix](https://github.com/NixOS/nixpkgs/blob/master/nixos/tests/common/letsencrypt.nix). Maybe you can use that to test letsencrypt support

[2018-01-29 00:35] griff opened #61 "Upstream from my fork"
I have created a mail setup for myself that started as a fork of this project but has diverged a great deal since then.

Some of the things I have implemented are:
- Switched away from rmilter like #25 suggests
- Awstats site for mail generated hourly like #35 suggests
- Training of rspamd using imap_sieve. So moving to Junk trains as spam. Moving out of Junk trains ham
- Uses OpenDKIM and pypolic

[2018-01-29 08:56] r-raymond commented on #16
@griff Thanks for pointing that out. I'll see if I can use that.

[2018-01-29 09:06] r-raymond commented on #61
Awesome. I think we should absolutely make use of the work you have invested!

About the Rspamd, I updated the version on nixpkgs and am waiting right now to become stable (which should happen 18.03 I guess). Maybe we can use the window to try to merge your additional config?

The same goes for awstats, I think we could really profit from getting that upstream.

In general I think it would not be

[2018-01-29 14:30] griff commented on #61
DMARC is a two part process. It is others sending you reports based on DNS records and you sending reports to others based on their DNS records. OpenDMARC only does the latter and you can have one part without the other. So OpenDMARC only makes you a better email citizen but it does require a MySQL DB to keep track of the stats it sends in aggregate reports which kind of sucks.

[2018-01-29 18:58] katyo commented on #60
I opened the issue in nixpkgs repository:
https://github.com/NixOS/nixpkgs/issues/34375

[2018-01-29 18:58] #60 closed

[2018-01-30 20:20] phdoerfler commented on #61
Yes please!

[2018-01-31 08:27] katyo opened #62 "README Question (B) Step 4"
At the section (B) [Step 4: Set SPF Records](https://github.com/r-raymond/nixos-mailserver#step-4-set-spf-records) in README the SPF record in table below have the type `TXT`, also testing command `dig` goes with `-t TXT` as argument.
It seems to be wrong but I don't sure.

[2018-01-31 08:38] r-raymond commented on #62
This is actually correct. Should we revise the wording to make this more clear that it is indeed a `TXT` record?

[2018-01-31 08:41] katyo commented on #62
Oh, it seems the SPF records actually deprecated.

[2018-01-31 08:50] #62 closed

[2018-01-31 08:51] r-raymond commented on #62
Ok, I added a short note. Thanks for the feedback, and thanks for using SNM!

[2018-01-31 10:08] katyo opened #63 "How to disable insecure IMAP access"
Is there the way to disallow the users non-SSL/TLS connection to IMAP server?
I mean how to allow only STARTTLS on 143 port.
Or I would like to disable 143 port at all.

[2018-01-31 11:28] r-raymond commented on #63
Hi, port 143 is the IMAP starttls port. Dovecot is configured to not allow login without a tls session. Here is my example session:

[code]

So the default is already what you want.

If you want to turn off Imap all together, you can set `enableImap = false`. To turn of IMAPS, you can use `enableImapSSL`.

I hope this works for you!

[2018-01-31 11:53] katyo commented on #63
@r-raymond: ok, thanks for explanation

[2018-01-31 18:58] #63 closed

[2018-01-31 19:31] katyo opened #64 "Remove clamav from systemPackages"
I don't need virus scanning feature, but as I see the `clamav` package will be installed anyway:
[environment.nix#L25](/r-raymond/nixos-mailserver/blob/master/mail-server/environment.nix#L25)

As you can see in clamav service [clamav.nix#L79](/NixOS/nixpkgs/blob/release-17.09/nixos/modules/services/security/clamav.nix#L79) youself because it will be installed when service enabled [clamav.nix#L23](

[2018-02-01 08:13] r-raymond commented on #64
Good catch, I'll fix it asap. Feel free to also send PR's for such things :)

[2018-02-01 08:14] #64 closed

[2018-02-02 15:51] phdoerfler opened #65 ""You have new mail in /var/mail/root""
**TL;DR**: What to do with local mail?

Mails sent to `root@localhost` are delivered to `/var/mail/root` in maildir format.

How do we want to deal with those? I have seen failed cron jobs put mail there and it is a common mail address for anything system related to my knowledge. In any case: I strongly recommend that we deal with them.

I have triggered one using `monit reload` and having set `ro

[2018-02-02 16:54] phdoerfler commented on #61
@griff What's the progress on the port? I am very much looking forward to this (especially imap_sieve and your buffed rspamd module).

Personal opinion: I have a long standing personal and subjective feud with MySQL (or MariaDB or how it calls itself) and thus see anything that requires MySQL as inherently flawed. I appreciate your efforts to try make this work with sqlite.
Ignoring this very bias

[2018-02-04 00:53] griff commented on #61
@phdoerfler right now I am working on upstreaming my changes to hopefully get them included in the upcoming NixOS 18.03. I have completed awstats package (NixOS/nixpkgs#34397) and rspamd module (NixOS/nixpkgs#34562) and am considering what to do about my mail-awstats module and unfinished OpenDMARC module. The spam training code also has a problem in that it works but because dovecot wants to reco

[2018-02-04 09:33] r-raymond commented on #65
Hi,

couldn't you simply modify the monit address to an existing one? I feel uneasy defaulting mail to root to another email address. Or what exactly is your suggestion? Should we add a config for this?

[2018-02-04 12:36] r-raymond opened #67 "Dovecot bug"
The newest version of dovecot fails with

[code]

compare to [archlinux forums](https://bbs.archlinux.org/viewtopic.php?id=233452)

[2018-02-05 14:03] nico202 opened #68 "unbound requires ipv6"
Hi, I upgraded the config and during the switch unbound failed to bind to ::1. I have (had) enableIPv6 = false, setting it to true does work, but maybe it should default to the ipv4 analogous if ipv6 is disabled, or assert ipv6 is enabled and fail loudly if it isn't

Nicolò

[2018-02-05 14:11] r-raymond commented on #68
Hi, sry that slipped through the cracks. We could modify `services.unbound.interfaces`, or introduce an `ipv6` switch in the config. There is also a competing PR right now that uses `kresd` instead of  `unbound`.  Could you check if this is a problem with `kresd` too?

Thanks for using SNM!

[2018-02-05 14:22] nico202 commented on #68
Thank *you* for writing it!
I'll test it this evening since I'm away from my server right now and I don't feel comfortable changing network settings remotely (I have once been cut out and I don't want to repeat it), but I'll have physical access to it later today :)

[2018-02-06 09:05] nico202 opened #69 "dovecot not building on latest unstable"
nix-info:
 - system: `"x86_64-linux"`
 - host os: `Linux 4.9.76, NixOS, 18.03pre125130.3a763b91963 (Impala)`
 - multi-user?: `yes`
 - sandbox: `yes`
 - version: `nix-env (Nix) 1.11.16`
 - channels(gitlab-runner): `"nixpkgs-18.03pre117013.aebdc892d6"`
 - channels(nixo): `""`
 - channels(root): `"nixos-18.03pre126729.2e4aded3669"`
 - nixpkgs: `/nix/var/nix/profiles/per-user/root/channels/nixos/nixpk

[2018-02-06 09:08] dotlambda commented on #69
This is about pigeonhole, not Dovecot. Probably fixed by https://github.com/NixOS/nixpkgs/pull/34449.

[2018-02-06 20:43] phdoerfler commented on #67
I'd make that configurable so the tests can use the bare minimum and a production server can use whatever the CPU can handle.

[2018-02-06 23:18] eqyiel commented on #69
@dotlambda @nico202 yes, this is the issue the linked PR addresses!

If you cherry pick that commit you should be good, alternatively just wait a bit for the unstable channel to catch up.

[2018-02-07 18:27] phdoerfler commented on #65
I was merely using monit as an example for local mail (such as mail to root@localhost sent from someone else on the system e.g. a different local user or a daemon).
My question is: How do we deal with local mail? Should we?
Right now we don't and I see both pros and cons for that..

My original reason for starting this discussion is this: If one fails to have an alias for local mail in the nix con

[2018-02-07 18:27] #65 closed

[2018-02-08 22:16] nico202 commented on #69
fixed on latest unstable, thanks

[2018-02-08 22:16] #69 closed

[2018-02-08 22:39] nico202 commented on #68
Yes, I can confirm that kresd works even with ipv4-only.

[2018-02-08 22:39] #68 closed

[2018-02-09 14:00] #52 closed

[2018-02-09 16:07] phdoerfler opened #70 "Optional Greylisting for some email addresses"
Enabling greylisting for mail addresses that do get SPAM mails would drastically reduce the number of SPAM mails received on that address since spammers usually do not try to resend mail that could not be delivered. This is in contrast to legitimate mail providers who do try to resend mail.

Greylisting works by pretending (for a while) to be unable to receive email. If a sender then retries in a

[2018-02-09 16:12] r-raymond commented on #70
If someone were to implement it, I'm all for it. I don't use grey-listing though (I find waiting for a legitimate email more annoying than deleting a few spam mails) so I'll probably will not be the one implementing it.

[2018-02-11 11:53] The-M1k3y opened #71 "Error when using variables in sieve script"
Hi there,

the configuration fails to build when using variables in sieve scripts.

This is the configuration I use:
`loginAccounts= {
	"catcher@example.com" = {
		hashedPassword = "password";
		catchAll = [ "example.com" ];
		sieveScript = ''
			require ["fileinto", "variables", "mailbox"];
			if address :matches ["To", "Cc"] ["*.example.com"] {
				fileinto :create "catcher.''${2}";
			}
		'';

[2018-02-11 12:09] r-raymond commented on #71
Hi, sorry for the inconvenience. That indeed looks like the problem. I think we can fix this by putting single quotes around https://github.com/r-raymond/nixos-mailserver/blob/b75575f02e90c208bdd68549e3967ad7fb3bfd1d/mail-server/users.nix#L64. But my bash is weak, so maybe someone else can weigh in. I think you could maybe escape the `${1}` in your script to work around the problem for now (but we

[2018-02-11 12:39] The-M1k3y commented on #71
Yes, escaping the `${1}` in the script works. I guess the way to go is to change line 63 in nixos-mailserver/mail-server/users.nix to `cat << 'EOF' > "/var/sieve/${name}/default.sieve"`. This way cat should ignore all dollars.

[2018-02-11 12:49] The-M1k3y commented on #71
Alternatively you could have a look at lib.pkgs.writeText. It seems to be used by most services in the nix store. But like your bash is weak, my nix is bad. So don't take my word for it.

[2018-02-12 07:37] r-raymond commented on #71
@The-M1k3y Thanks for the verification.

@eqyiel do you have an opinion on which of the proposed solutions is better? Any reason you did not use a nix function to write the scripts?

[2018-02-12 17:39] dotlambda opened #72 "[advice] Radicale config"
This is more like an issue to help people who want to have their own CalDAV server and already have nixos-mailserver running. I have configured a [Radicale](http://radicale.org/) server to use the same users as nixos-mailserver:
[code]

[2018-02-12 17:48] r-raymond commented on #72
Awesome!

So... should we integrate this into SNM?

[2018-02-12 17:49] dotlambda commented on #72
I'm not sure. It's a *mailserver* after all.

[2018-02-12 17:59] r-raymond commented on #72
Let's leave this issue open so people can express their opinions.

I vote for yes, I think ideally SNM will also provide calendar and contact synchronization.

[2018-02-12 18:18] nico202 commented on #72
I'd say yes because it's useful, but no as @dotlambda. Maybe if we collect some of those in an "extra" package? Ideally creating a small *nixos-server* ecosystem in the future

[2018-02-12 18:18] nico202 commented on #72
I'd say yes because it's useful, but no as @dotlambda. Maybe if we collect some of those in an "extra" package? Ideally creating a small *nixos-server* ecosystem in the future

[2018-02-13 00:05] eqyiel commented on #71
@r-raymond I wasn't sure whether the files created by `writeText` would be garbage collected if I symlinked them here.  If it's the same to you, please consider https://github.com/r-raymond/nixos-mailserver/pull/73

@The-M1k3y I've tried the example mentioned in the PR, but could you please see if it works for you too?

[2018-02-15 11:14] phdoerfler commented on #67
Is there an ETA on this?

[2018-02-15 11:28] r-raymond commented on #67
I pushed a test branch "dovecot23".

My problem is: If dovecot version is `< 2.3` then it does not know `ssl_dh`, if it is `>= 2.3` it requires it to be set (great policy from dovecot there). Unfortunately the tests on travis can only use nix (not nixos) and that tracks unstable. Hence it has dovecot `2.3`, whereas on Nixos it is dovecot `2.2....`. I fixed this with a `dovecot23` option which is b

[2018-02-15 15:22] phdoerfler commented on #67
Thanks for the heads up!

Just in case you have not tried this yourself yet:
Is it possible to tell travis nix what version of nixpkgs it should use? That way it could use a version of nixpkgs which is closer to the stable channel. Or at least one using the same dovecot version as stable.

You might find these helpful:
- https://github.com/NixOS/nixpkgs/issues/9682
- https://gist.github.com/zimbat

[2018-02-15 21:15] jbboehr opened #74 "Redundancy"
I'm a bit of a mail server newbie, what is the process to set up a redundant configuration with another server? Or should I just rely on monitoring and retries from the sending host? Should this something that can be integrated or made in another repo?

[2018-02-15 22:56] eqyiel commented on #74
@jbboehr I think what you are looking for is a secondary/backup MX, which is another mail server instance with a lower priority MX record.

It doesn't look like it would be too hard to make this a configuration option: http://www.postfix.org/STANDARD_CONFIGURATION_README.html#backup

[2018-02-15 23:11] eqyiel commented on #67
@phdoerfler it's possible, see here for an example: https://github.com/eqyiel/node-imapnotify/blob/9fe77ca3c836a67f573dc4bc7bb3c6deae381ddb/nix/run-tests.nix#L13

I'm pinning to the version of `nixpkgs` defined by this derivation: https://github.com/eqyiel/node-imapnotify/blob/9fe77ca3c836a67f573dc4bc7bb3c6deae381ddb/nix/nixos-unstable.nix

I will look into this tomorrow if no one else does it fir

[2018-02-16 02:04] jbboehr commented on #74
Well, I messed around a bit with it, but I don't know enough about the systems to really tell what needs to be done.

I tried making a test, but it looks like it may require a local DNS server to work properly - based on my understanding of the linked document, the relay resolves the MX record for the domain it's supposed to be forwarding for.

[2018-02-16 09:57] r-raymond commented on #74
@jbboehr I think for personal / small email servers a redundant server is normally unnecessary. The smtp protocol is quite robust when it comes to these problems, and emails are trying to be delivered for  at least a few days. That being said, if we integrate this I think we should do it via nixops, or via a separate repository for the "backup server".

What do you guys think?

[2018-02-16 09:59] r-raymond commented on #70
Can you describe your use case for turning off spam filtering for certain emails?

[2018-02-16 10:08] r-raymond opened #75 "v2.1 Release"
I've added a release candidate for v2.1 six weeks ago, and there are no open bugs that I'm aware of right now that would prevent from releasing this as stable. If you have any concerns, let me know, otherwise I'll prepare a release this weekend.

[2018-02-16 19:56] jbboehr commented on #75
I've been using one of the RCs for a while now and it's been working fine.

[2018-02-17 11:58] eqyiel commented on #67
@r-raymond see https://github.com/r-raymond/nixos-mailserver/pull/76

Thanks for considering that package, I'll tell you more about it if I ever get around to finishing it!

[2018-02-17 14:55] phdoerfler commented on #70
@r-raymond I propose you don't normally need (nor want) to do spam filtering (*). Except when one of your e-mail addresses starts to receive spam because some server that had that address was compromised. Now when you only use one address this is of course the best you can do. But if you have multiple addresses, say one per account for your 100+ accounts on the internet, you can simply enable filt

[2018-02-17 19:40] sjau opened #80 "Thunderbird complains about username / password"
I wanted to test this but Thundebird just keeps complaining:

"Configuration could not be verified - is the username or password wrong?"

I tried to use the full email as username and also just the left-hand side of the @. Also I tried a long password and a short simple one. I just couldn't login

IMP Port 143, STARTTLS, Normal Password
SMTP Port 587, STARTTLS, Normal Password

[2018-02-17 19:42] nico202 commented on #80
Thunderbird, same imap port, smtp port 25, starttls, normal password, working.

Have you registered MX and so on?

[2018-02-17 19:43] phdoerfler commented on #80
I am successfully using this mailserver with thunderbird on Windows. No problems there.

[2018-02-17 19:44] sjau commented on #80
no, not registered as mx as I provide the domain directly for the server

[2018-02-17 19:45] nico202 commented on #80
Yeah thinking about it should not be needed

[2018-02-17 19:46] sjau commented on #80
I also opened the ports on the firewall and I had to disable "enableManageSieve" as nixos complained when it was enabled.

[2018-02-17 20:13] sjau commented on #80
So, for login: Do use use the full email address or just the left-hand side of the @, e.g.
`user` or `user@home.domain.tld` ?

For the password hashing, do I use
`mkpasswd -m sha-512 "password"` or `mkpasswd -m sha-512 password`

[2018-02-17 20:25] nico202 commented on #80
```mkpasswd -m sha-512``` and insert the password at the prompt. user@domain.tld

[2018-02-17 20:25] nico202 commented on #80
does telnet works?

[2018-02-17 20:29] phdoerfler commented on #80
you can test encrypted IMAP using openssl:
`openssl s_client -quiet -host mail.example.com -port 143 -starttls imap`.
This will start an interactive session where you can communicate with your IMAP server:

[code]

[2018-02-17 23:59] phdoerfler commented on #61
@griff I see your rspamd module has been merged, yay! I'm very excited for 18.03 as this will finally allow to set the password for the rspamd controller (on which https://github.com/r-raymond/nixos-mailserver/issues/16 is depending).

This being said, would you happen to know how this (The [17.09 rspamd module](https://github.com/NixOS/nixpkgs/blob/release-17.09/nixos/modules/services/mail/rspamd

[2018-02-18 00:00] eqyiel commented on #67
@phdoerfler this is fixed on current master!

[2018-02-18 00:10] phdoerfler commented on #72
Oh this is cool! As someone guilty of adding things to this project that - though helpful - not strictly required for operating a mailserver (hello monit) I say let's keep it!
But I do side with @dotlambda in that this is indeed a *mailserver*.
I therefore vote for adding it (extra package or not) and having it disabled by default.

[2018-02-18 01:40] phdoerfler commented on #67
@eqyiel I'm sorry - what is fixed and where?

[2018-02-18 02:39] eqyiel commented on #67
@phdoerfler the dovecot configuration should now build on both stable and unstable channels 😅

[2018-02-18 07:41] sjau commented on #80
No, that doesn't work:

[code]

[2018-02-18 08:51] r-raymond commented on #80
Hi sjau, thanks for using SNM and sorry for the inconvenience.

Are you on stable (17.09) or unstable? What is in the journalctl when trying to log in like above?

[2018-02-18 09:22] r-raymond commented on #80
then I'm assuming it is either

1) You don't use master but an older version of SNM (there was an SSL bug that got fixed just yesterday with Dovecot 2.3)
2) You need to wait longer until the DH file is created (look at the paramter for dh-file). 2048 can take multiple minutes to create on a low entropy machine.

[2018-02-18 09:24] sjau commented on #80
Using 2.0.4 like it says here

[2018-02-18 09:24] r-raymond commented on #80
I'll release a new version later today that contains the necessary fix.

[2018-02-18 09:27] sjau commented on #80
Where would the DH file be?

[2018-02-18 09:31] r-raymond commented on #80
`2.0.4` (and also `2.1`) only work on Nixos stable. If you want unstable, you have to use the master branch (it needs a commit from yesterday). Or wait until I release new version today. the dh file only gets created if you have dovecot23 (which you have) and are tracking master (so not for you). It is located in the certificate directory.

[2018-02-18 09:35] sjau commented on #80
How to use master?

[2018-02-18 09:42] r-raymond commented on #80
replace `v2.0.4` with `master`

[2018-02-18 09:43] sjau commented on #80
well, was confused because github only shows zip for download.... yeah, now it seems to work. Let me switch back again to LE ECC certs that I got through dns-01

[2018-02-18 09:52] sjau commented on #80
yes, it works :)

[2018-02-18 09:54] sjau commented on #80
Also, using master now, it doesn't complain about `enableManageSieve = true;` anymore

Next thing, setting up a webserver with roundcube.

[2018-02-18 09:55] r-raymond commented on #80
great!

[2018-02-18 09:58] r-raymond commented on #80
Btw. for roundcube you probably need some type of sql server which this project tried to avoid at all costs. So it might not integrate too well with SNM

[2018-02-18 09:58] sjau commented on #80
what other nice webmail is there besides roundcube that doesn't require database?

[2018-02-18 10:06] r-raymond commented on #80
Depends on your definition of nice, but I think squirrle mail doesn't need one. If you find some other great solutions, let us know :)

[2018-02-18 10:08] sjau commented on #80
Roundcube can use sqlite though

[2018-02-18 10:13] r-raymond commented on #80
well give it a shot. I don't know how one communicates the login accounts. Maybe it simply uses IMAP and caches the results. I don't know, since I don't use webmail.

[2018-02-18 10:19] sjau commented on #80
Will do so.... one more question:

What is the difference between the aliases and the extarVirtualAliases?

[2018-02-18 10:22] r-raymond commented on #80
nothing, extraVirtualAliases is just if you feel like it is more comfortable to add aliases outside of the user declarations. E.g. if you have postmaster, abuse etc. of multiple domains forwarded it might be more convenient to do that in extraVirtualAliases.

[2018-02-18 11:03] sjau commented on #80
So, got it setup. It wasn't too hard:

[code]

Downloaded the full roundcube tgz, extracted it, set according permissions for nginx so he can create db and stuff...

Few things like mimetypes would still need to be handled. I just want to use it as local server for rss2email :) On my other servers I do already way too much spam cleaning etc... but here I just let everything pass.

[2018-02-18 11:33] phdoerfler commented on #80
@sjau that's neat! Can I inconvenience you to submit this as a PR?

[2018-02-18 11:34] r-raymond commented on #80
Awesome. If that is something people want, we could add this as an option.

[2018-02-18 11:40] phdoerfler commented on #80
I do occasionally. For instance right now I am converting my old mail from locally stored Apple Mail files to maildir to put it on the mail server. To check and see if the conversion went OK (like folder names and such) a dumb webmail client would be great. Desktop mail clients tend to be "smart" and cache things and when you empty your whole maildir and then put thousands of converted messages in

[2018-02-18 12:31] sjau commented on #80
not really sure how to make a PR out of it.... the above just sets the environment in such a way that RC can be downloaded and used... but maybe provide a full RC installation

[2018-02-18 15:38] griff commented on #61
@phdoerfler it looks like the default rspamd.conf that comes with rspamd not the generated one from the module. The module defaults to binding the normal socket to `/run/rspamd/rspamd.sock` not `*:11333`

[2018-02-18 18:35] sjau commented on #80
Still gnawing my teeth out to get sieve to properly work in roundcube...

I can telnet just fine and get proper answer - so dovecot is doing it fine - but I can't just get it to run in rc :(

Anyway, I think this can be closed? Issue was - as most of the time - PEBKAC :)

[2018-02-18 18:41] r-raymond commented on #80
Take a look at the `enableManageSieve` option which allows changing sieve scripts via imap. Feel free to close the issue if you think your problem is resolved.

[2018-02-18 18:42] sjau commented on #80
As I said, your script set it up correctly:

[code]

It's just that I get errors with roundcube... it should work but haven't figured it out yet....

[2018-02-18 18:42] #80 closed

[2018-02-19 13:21] r-raymond commented on #75
As a quick update, I'm still fixing an error with travis ci before releasing the new version

[2018-02-20 10:59] #71 closed

[2018-02-20 10:59] #67 closed

[2018-02-20 11:00] r-raymond opened #82 "Travis builds time out"
[code]

[2018-02-21 09:15] #82 closed

[2018-02-22 12:05] r-raymond commented on #74
@jbboehr I don't have any experience running such a secondary mx host, but the linked information suggests it shouldn't be very hard to do. If anyone feels like integrating this into SNM, I'd be happy to help with the implementation.

[2018-02-22 12:09] r-raymond commented on #72
If we go the extra package way, does anyone have a good idea on how to manage that? Should we collect a list of github repos that are pulled if a boolean is set?

[2018-02-22 12:46] #75 closed

[2018-02-22 12:48] r-raymond opened #84 "[Project] Add caldav and carddav to SNM"
Questions:

 * As part of SNM or as downstream packages?

See also #72

[2018-02-22 16:28] phdoerfler commented on #84
Personally I gravitate towards the simpler solution. I would keep additions like that as part of SNM at first, perhaps in say an "extras.nix" file to emphasize their supplemental nature. If need be they can still be factored out into an own nixos-mailserver-extras repository without losing anything.

[2018-02-22 18:07] jpotier opened #85 "Use overlays"
A very nice example on how to use this is there:
https://github.com/yegortimoshenko/nixos-overlay

[2018-02-22 19:54] r-raymond commented on #85
Thanks for pointing this out! I'll take a look asap.

[2018-02-22 21:45] #55 closed

[2018-02-22 21:50] phdoerfler opened #86 "switching to the new configuration removes user then tries to chown with that user"
I pulled the new master but when invoking `nixos-rebuild switch` I got the following error:

[code]

Why does my user `myuser@example.com` get removed in the first place?

[2018-02-22 21:50] #34 closed

[2018-02-22 21:55] r-raymond commented on #86
The new release v2.1 uses virtual users instead of system users. It is documented in the [new release mail](https://www.freelists.org/post/snm/SNM-Version-21). Is the `activate-virtual-mail-users` something specific to your configuration?

[2018-02-22 21:59] phdoerfler commented on #86
This reminds me that I meant to subscribe to that mailing list. My bad!

[2018-02-22 22:00] r-raymond commented on #86
Nvm, the problem is the sieve folders,
[code]

does it work if you change the lines to `chown "${vmailUserName}:${vmailGroupName}" ...`?

[2018-02-22 22:05] phdoerfler commented on #86
Changing those two `${name}` into `${vmailUserName}` results in this:

[code]

Looking good to me. Is this what you'd expect?

[2018-02-22 22:08] r-raymond commented on #86
Depends on if the sieve scripts still work :) Unfortunately we don't have any sieve tests in our test suite, so it slipped through the CI.

[2018-02-22 22:31] phdoerfler commented on #86
While testing if the sieve scripts would work (and chowning my vmail directory of course) I ran into this which appeared in the logs the moment I sent a test email to myself from a different account:

[code]

The mail was not delivered.

[2018-02-22 23:02] phdoerfler commented on #86
Having removed the offending line in `postfix.nix` my test mail got delivered to the sub folder as instructed by the sieve script. I'd say it works.

[2018-02-22 23:02] #86 closed

[2018-02-22 23:12] phdoerfler opened #87 "postfix fails to deliver mail due to wrong policy_service setting"
postfix logs "host/service mailstore.example.com/12340 not found: Name or service not known" when delivering mail:

[code]

In addition to the log message postfix is unable to deliver mail.

See https://github.com/r-raymond/nixos-mailserver/issues/86#issuecomment-367845286 for details.

The offending line instructs postfix to ask the policy server at `mailstore.example.com` at the given port. Or i

[2018-02-23 08:47] The-M1k3y opened #88 "2.1.1 fails to activate when cert directory is missing"
I just switched from 2.0.4 to 2.1.1 and found that postfix and dovecot won't start due to the missing dh.pm file. The file is not generated, when the target directory does not exist. When the directory is created manually, it works.

[2018-02-23 09:06] The-M1k3y opened #89 "activate-virtual-mail-users.service fails to start for users with sieve scripts"
The activation of the users fails when the user contains a sieve script for 2.1.1

Extract from journal:
[code]

[2018-02-23 09:21] dotlambda opened #90 "cannot parse reply from rspamd: bad top object"
I'm seeing many of these errors in `journalctl`:
[code]
Is this normal?

(I'm using v2.1.1)

[2018-02-23 10:04] phdoerfler commented on #89
Same issue as https://github.com/r-raymond/nixos-mailserver/issues/86

[2018-02-23 10:14] The-M1k3y commented on #88
Additional Info: I'm providing the certs by file path, since I already have a nginx running, so no cert directory gets created.

[2018-02-23 10:37] phdoerfler commented on #90
I just checked on mine (running latest master **with the quota policy server rule commented out**) and watched a mail get delivered and handled by rmilter and rspamd just fine after a fresh reboot except for these errors in name resolution (which other than being logged didn't do any harm):

[code]

A second email did not even show these errors but went through just fine. Here is the complete log

[2018-02-23 10:44] dotlambda commented on #90
I commented out that line as well. Otherwise, no email gets delivered at all.
I didn't try rebooting yet. But without rebooting, each mail sent to my server reproducably shows that error.
They are being delivered though.

[2018-02-23 13:28] r-raymond commented on #87
Wow, sorry about that. I have now idea how that ended up in the release. Let met try to fix this right now.

[2018-02-23 13:30] dotlambda commented on #87
We should definitely try to create a test case that catches that error.

[2018-02-23 13:31] r-raymond commented on #87
I think the tests got lucky there, since the domain is actually example.com

[2018-02-23 13:32] dotlambda commented on #87
Is there a way in Nix to create a random string that could be used as domain name?

[2018-02-23 13:34] r-raymond commented on #87
I don't know, if you find a way feel free to open a PR

[2018-02-23 13:53] r-raymond commented on #88
Sorry about the inconvenience. I assumed the cert directory would exist when creating the file. I'll fix asap.

[2018-02-23 13:58] #87 closed

[2018-02-23 13:58] #88 closed

[2018-02-23 15:22] The-M1k3y commented on #88
No problem. I'm glad I finally have a tool for a mailserver without a lot of headache. Your doing an awesome job here.

[2018-02-23 15:35] r-raymond commented on #84
What about package choices?

For caldav we already have an implementation with radicale, so if there is no objection to using radicale I fine using that. As a bonus radicale can also do carddav.

[2018-02-23 23:02] jbboehr commented on #86
Not sure if related, but after upgrading my `/var/vmail` was still owned by the previous user id `1000`. After running `sudo chown -Rf virtualMail /var/vmail/` it seems to be working again.

[2018-02-24 00:24] phdoerfler commented on #84
Here's my two cents on the subject:
Since we don't offer choices for core parts of the mailserver, say postfix vs. exim, kresd vs. unbound, etc. and have had no issues with that so far, I fail to see the need to divert from that course for non-essential things such as caldav. Again if need be we can still make that more sophisticated, but I'd rather start simple and make things complex when requir

[2018-02-24 00:29] phdoerfler commented on #90
For comparison I'm on `nixos-17.09-small` using:

[code]

Do you happen to run a newer rspamd?

[2018-02-24 13:31] jpotier commented on #85
I'm overthrilled since I read about this. It makes things so much simpler. Another example of use is [musnix](https://github.com/musnix/musnix).

[2018-02-25 10:09] r-raymond commented on #85
Well it looks like we should convert SNM to use overlays. Is there any official documentation? The examples above simply add master, we should have something more sofisticated reflecting different versions.

[2018-02-25 10:12] r-raymond commented on #84
I agree. My question was more geared towards "what packages should we use" rather than "should we provide options" though.

[2018-02-25 10:25] dotlambda commented on #84
I think the options are:
- [Baïkal](http://sabre.io/baikal/)
- [Radicale](http://radicale.org/)
- [DAViCal](https://www.davical.org/)

The obvious advantages of Radicale are:
- Python instead of PHP
- only one with a NixOS module

Advantages of Baïkal:
- fully standards-compliant (at least I think it is), however Radicale should work with all widely used clients

Disadvantages of DAViCal:
- needs

[2018-02-25 15:33] jpotier commented on #85
Github provides tgz for any branch/tag so that could be used.

Documentation is scarce unfortunately: https://nixos.org/nixpkgs/manual/#sec-overlays-install

Other examples:

Rust overlay: https://github.com/mozilla/nixpkgs-mozilla
Radeon OpenCompute overlay: https://github.com/peter-sa/nixos-rocm

[2018-02-25 21:50] phdoerfler opened #91 "How to classify mails as spam or ham?"
We neither use the dovecot [antispam](https://kaworu.ch/blog/2014/03/25/dovecot-antispam-with-rspamd/) plugin nor do we use [imap_sieve](https://wiki.dovecot.org/HowTo/AntispamWithSieve).

So how does one tell rspamd that a mail is spam or ham? Other than of course running the commands in the terminal. We should at least document that.

[2018-02-25 22:08] cyplo opened #92 "Adding AAAA record to DNS makes Let's Encrypt validation fail."
Heyo, First of all, thank you for an AMAZING project ! :)

I'm trying to migrate from some legacy ball-of-mud mail server config to this.
Everything seems to be working very smoothly, except for the IPv6 Let's Encrypt validation.
By default Let's Encrypt tries to validate domain ownership via IPv6 if there is an AAAA record for a particular domain.
If I set only A records for the mail server - eve

[2018-02-26 00:19] eqyiel commented on #85
@jbboehr @r-raymond the thing about overlay is that they are useful for modifying the package set (which this repo doesn't do), not NixOS modules.  If I'm mistaken here, I'd very much like to know about it though!

[2018-02-26 07:01] jpotier commented on #85
@eqyiel true, overlays are about modifying the package set. So if you ever want to add custom flags on top of the default package set, that's the way you'd go.

Having the code infrastructure in place may be a good thing to have, if for any future version of nixpkgs, there's something in need of hotfixing (it did happen in the past).

Also, having users just add your module+overlay at once using n

[2018-02-26 09:29] cyplo commented on #92
Heyo !
Thank you for checking :) It indeed does not have the record right now, as I deleted it to be able to make some further progress with the config. Looking at the logs pasted above:
[code]

- I think that it may have resolved the addresses properly on the DNS level it had troubles validating though - am I reading this correctly ?

thanks ! :)

[2018-02-26 21:17] r-raymond commented on #92
Unfortunately I don't have an idea about your problem. If you remove SNM and add acme manually does it work? Maybe this is a bug in Nixos' acme support?

[2018-02-26 21:20] r-raymond commented on #91
I've never bothered training my spam filter. If you think its worth having those features, I can look into integrating them (of course PRs are also welcome :))

[2018-02-26 21:22] r-raymond commented on #90
@dotlambda The new version of rspamd does not work with rmitler anymore (it absorbs all the features into rspamd). We'll have to rewrite the code to use rspamd. I guess that should happen within the next month before it becomes stable. Any help is welcome (see #25)

[2018-02-26 21:25] r-raymond commented on #61
any updates on this project? 18.03 is comming, let me know if I can help.

[2018-02-26 23:23] eqyiel commented on #92
@cyplo could you share your entire config?  AFAICT `nginx` will listen on `[::]` if `config.networking.enableIPv6` is true, which I don't see in the snippet you posted.  https://github.com/NixOS/nixpkgs/blob/93bfd8921fa26bc7046d3cb64c05ffe7f30bb9bf/nixos/modules/services/web-servers/nginx/default.nix#L20

[2018-02-27 09:29] cyplo commented on #92
Thank you both for your support :)

I'm going to try both seeing if pure ACME without SNM works and if setting nginx config explicitely helps.

The config I've pasted above is the full config from that machine - I don't have nginx configured separately, as I don't need it on the box. My understanding is that ACME needs it to setup a temporary validation server.

thanks again and will keep you post

[2018-02-27 13:10] griff commented on #61
I think I might miss the freeze for 18.03 with NixOS/nixpkgs#35536 since it has gotten a little lost in the PR list.

But other than that my plan was to slowly start with what I can do before 18.03. So switching to using OpenDKIM directly and checking SPF with pypolicyd-spf. But to ensure that those two work correctly I was thinking of making a new test with a DNS server and two mail servers so th

[2018-02-28 12:36] phdoerfler commented on #91
Yes I believe it is worth to train your rspamd. Eventually https://github.com/r-raymond/nixos-mailserver/issues/61 will take care of the training with imap_sieve.
But as far as I understand it, this only works for new mail moved to the Junk mailbox. For the initial import you'd still have to resort to using the command line. And for this maybe a wiki page would be nice. You planned on putting the

[2018-02-28 12:44] r-raymond commented on #91
You are correct, this is the plan. Feel free to create a wiki
page / snippet on how to do the command line training. I'll make sure
people can find it.

On 02/28, Philipp Dörfler wrote:

[2018-02-28 12:47] r-raymond commented on #72
I've copied the @dotlambda 's config to a wiki page. Feel free to add comments, or tweak the config.

[2018-03-02 23:05] cyplo commented on #92
Hello !
I've tried different combinations and:
🎉 Resolved and not a bug in SNM 🎉  - was an unrelated network configuration problem - apologies :)

p.s. - I tried with `config.networking.enableIPv6` and without it - does not make a difference if the box has an assigned IPv6 address - ACME works either way.

thanks again !

[2018-03-02 23:05] #92 closed

[2018-03-03 10:00] dotlambda opened #94 "Duplicate entries in vaccounts"
#### SNM Version: (e.g. v2.1.3)
v2.1.3
#### Nixos Version: (e.g. 17.09 or unstable)
unstable

#### Relevant part of the config to reproduce:
I have set `fqdn`, `domains` and `loginAccounts`. Some of the `loginAccounts` have `aliases`.

#### What happened:
The file `/var/lib/postfix/conf/vaccounts` contains the lines that do not represent aliases twice.

#### Relevant journald log:
[code]

[2018-03-03 10:41] dotlambda opened #95 "libdovecot segfaults in extern.nix test"
I was trying to add a check for errors and warnigs in the journal to the test so that #94 would be detected but wasn't able to run the tests.
Is it normal that the tests fail on unstable?

#### SNM Version: (e.g. v2.1.3)
v2.1.3
#### Nixos Version: (e.g. 17.09 or unstable)
unstable

#### What I expected to happen:
`nix-build tests/extern.nix` should work just fine

#### What happened:
[code]

[2018-03-03 11:07] #72 closed

[2018-03-03 12:31] phdoerfler commented on #94
Also happens on `nixos-17.09-small`.

[2018-03-04 21:31] tokudan opened #97 "Emails rejected too late, thus turning into spam relay"
(Use this template for bugs, feel free to delete it for other issues)

#### SNM Version: v2.1.3
#### Nixos Version: 17.09 (1dcd022f01b)

#### Relevant part of the config to reproduce:
[code]

#### What I expected to happen:

I expected the email to an invalid address (invalidemail@example.com) to be rejected while recieving.

#### What happened:

The email was accepted into the queue, causing a no

[2018-03-05 08:11] r-raymond commented on #95
Hi, no it should work out of the box. Unfortunately we can't test both stable and unstable on Travis CI - the tests would take too long. So we are currently only testing nixos-stable.

[2018-03-05 08:18] r-raymond commented on #94
Hi @dotlambda, thanks for pointing this out. Please note that postfix complains about vaccounts, not about valiases (where your fix is applied). It is important to have the valiases have the identity map if you want to use catch alls (it is stupid that postfix works this way - but that is just the way it is) - otherwise the catchall binds all addresses that are not mentioned in valiases. vaccounts

[2018-03-05 08:25] dotlambda commented on #94
So, we'd have to compute vaccounts in a different way?

[2018-03-05 08:32] dotlambda commented on #94
Actually, vaccounts should be exactly `all_valiases_postfix` then, shouln't it?

[2018-03-05 08:34] r-raymond commented on #97
Hi, thanks for using SNM, and sorry for the inconvenience. Thanks for pointing this out. For future references, [solution](https://serverfault.com/questions/792442/postfix-reject-not-bounce-unknown-virtual-aliases)

[2018-03-05 08:36] r-raymond commented on #94
You are right. Unfortynately I can't test right now. If you send a PR and travis accepts it I'll merge it.

[2018-03-05 08:37] dotlambda commented on #95
I think the segfaults might actually be the reason for the tests running out of time on travis.

[2018-03-05 17:26] r-raymond commented on #95
Could be. I'll look at some of the logs once I get a chance.

[2018-03-05 21:12] dotlambda commented on #95
After bisecting, I'm pretty sure this was introduced by NixOS/Nixpkgs@646a2e9a6f91c038b9cdb8ed93e5fd99f1edd381.

[2018-03-06 14:42] #94 closed

[2018-03-06 15:00] #97 closed

[2018-03-08 16:48] elseym opened #99 "monit default value includes hardcoded password"
is there any specific reason to include a [hardcoded password in the default for the monit configuration](https://github.com/r-raymond/nixos-mailserver/blob/f69081226dd7b7863de66b2c0eb8b8d9d34fec09/default.nix#L444)?

[2018-03-08 16:54] r-raymond commented on #99
No, this is a dumb solution, but it is not accessible from the outside and the password is required. Any idea how we can make this better?

[2018-03-08 16:59] phdoerfler commented on #99
Please explain what is so dumb about it. As you pointed out, it is not accessible from the outside. It is merely required for the http server to start. It won't start without specifying the password.
The web server is not accessible from outside, only from localhost. Only root can query monit. If you call, say `monit report` as a non-root user it will fail. And at no point it is necessary to actua

[2018-03-08 17:03] r-raymond commented on #99
Sorry, didn't mean to criticize your solution there. My comment is meant to say the same thing you mentioned. I'm not aware of a better solution.

[2018-03-08 17:05] phdoerfler commented on #99
@r-raymond no harm done :)

[2018-03-09 08:04] elseym commented on #99
@phdoerfler thanks for explaining the how and why.

i have not used the monit component of this module yet. from a general perspective, i find it problematic that right now, by just enabling `monitoring`, a pre-set admin password will be configured for the system (or any part of it). i'd rather have anything account- or access-related being set explicitly. (you can call it security awareness or pa

[2018-03-09 08:23] phdoerfler commented on #99
@elseym Please explain to me how this is a security risk and how the current behavior is not opt-in.

[2018-03-09 09:09] phdoerfler commented on #99
@elseym I assume you are talking about port forwarding via sshd or other means such as netcat or socat by ordinary users. Users that already have full shell access to your system. Yes these users could, if you do not disallow it, manage to access monit's webserver and see what services are running on the server. I assume they could also unmonitor services which if I remember correctly triggers an

[2018-03-09 12:41] elseym commented on #99
from @phdoerfler's explanation (thank you) i understand that we share a very similar view on the purpose of this module: it is an opinionated module providing a simple interface for a robust mail server setup. that is one of the main reasons i like this project and the work @r-raymond and other contributors have put into this.

for this issue, i'd rather not resort to speculative discussions about

[2018-03-09 12:57] r-raymond commented on #99
@phdoerfler @elseym I understand the sentiments of both positions. I like secure by default things, and I hate making user specify unnecessary things. I think the possibilities we have are

* Warn the user of this fact if he enables monit
* Make the user specify a password that he can't use in any way later
* Use a random password
* ?

All of these have pros and cons (except for `?` I guess). If y

[2018-03-09 13:10] r-raymond commented on #95
@dotlambda Great work. Did you report it @ nixpgs? If so, could you link the issue here? Thanks a lot!

[2018-03-09 13:10] r-raymond commented on #95
Btw, I'm able to reproduce the problem on unstable.

[2018-03-09 16:24] phdoerfler commented on #99
@elseym @r-raymond I don't mean to offend anyone (I hope this doesn't need saying) and I am grateful for your input on the subject. Having this said please allow me to be frank.

I think you are all overthinking this. The name of the game is a "**Simple** Nixos Mailserver". If you are willing to invest considerable time finding a solution that is truly secure, be my guest. I won't and I will now u

[2018-03-10 12:39] Infinisil opened #100 "Own DNS fails due to kresd being enabled."
#### SNM Version: v2.1.3
#### Nixos Version: unstable

#### Relevant part of the config to reproduce:
[code]

#### What I expected to happen:
Have SNM running and my own bind config with my zones working

#### What happened:
SNM enables its own DNS (kresd), leading to 2 processes wanting to listen to UDP port 53, one of them bound to fail, in my case bind, so my DNS broke.

This isn't a big deal f

[2018-03-10 12:57] r-raymond commented on #100
Thanks for the feedback! We should probably also document that this is the default.

[2018-03-10 13:58] phdoerfler commented on #100
I was about to suggest creating a wiki page "Services enabled by default" but I believe this is short enough that it can go in readme.md right at the top. It could double as a feature list of sorts where we list all the preconfigured services and next to it whether they are turned on by default.
So basically a nicer to read version of `default.nix`. That way people can see instantly what they're g

[2018-03-10 16:25] tokudan opened #102 "Suggestion: Add option for admin email"
This would allow to create some common aliases automatically, for example:
abuse@domain1
postmaster@domain1
abuse@domain2
postmaster@domain2
(catchall)@localhost
(catchall)@[mailserver.fqdn]

[2018-03-10 16:39] r-raymond commented on #102
Sounds great. I guess this should be a per domain setting. We could turn the domain list into a more sophisticated data type.

On the other hand we could also add an `admin` list to the user record, that adds postmaster and abuse .

Or are you thinking about a super admin for all listed domains? Then we could simply add an option for it and maybe merge it with the alert address.

[2018-03-10 16:42] r-raymond opened #103 "There are plenty of new features that need documentation"
Thanks @phdoerfler for contributing many new features to SNM. Unfortunately most of them are not documented so far, which I'd like to change before the next release. If you are using those features already, please consider adding some documentation on how!

[2018-03-10 17:31] tokudan commented on #102
I was thinking about two settings:
1. admin of the mailserver that gets all abuse and postmaster messages
2. root account that gets mail sent to @localhost and @mailserver.fqdn
Both are just aliases to an existing configured account.
As this is probably often the same person, it might make sense to just merge them into one setting.

Per domain would make sense for bigger hosters with multiple cust

[2018-03-10 17:36] tokudan commented on #100
kresd also seems to be broken on 17.09: https://github.com/NixOS/nixpkgs/pull/35508

[2018-03-12 05:07] joehealy opened #104 "How to send email to multiple recipients"
How do you send email to multiple virtual accounts?

ie office@domain goes to account1@domain and account2@domain?

Adding office@domain to each of the accounts aliases attribute results in mail only being sent to one of the accounts

[2018-03-13 00:32] phdoerfler opened #105 "Dovecot's default connections per ip is a bit low"
#### SNM Version: current master
#### Nixos Version: 17.09-stable-small

[code]

I think we can safely bump this up to say 64 or 128 or make it configurable. The configuration in dovecot is there to prevent abuse. Something which won't happen on a personal mailserver that is just used by one person.
The default value of 10 is low enough to run into problems with mail clients such as thunderbird wh

[2018-03-13 09:19] phdoerfler commented on #104
This sounds like you want to create a mailing list albeit a small one. I have googled a bit and it seems with postfix you can do [this](https://serverfault.com/questions/542687/using-postfix-aliases-as-a-simple-mailing-list-without-sending-mail-to-sender):

[code]

I don't think this is possible (right now) when using NMS due to the way it creates the alias file. So IMHO you have two good options:

[2018-03-13 09:29] r-raymond commented on #104
I wouldn't mind a PR for this at all. Nonetheless, normally this problem is solved by adding additional recipients to the sending mail.

[2018-03-13 12:45] The-M1k3y commented on #104
As a workaround you could use a sieve script and two distinct accounts:

    require ["copy"];
    redirect :copy "user2@example.com";

(Untested but should work)

[2018-03-13 22:58] joehealy commented on #104
@phdoerfler @r-raymond good to know there is not existing functionality for this - I'd looked, but couldn't see it anywhere.

I'm happy to try to put together a pull request. The simplest case would be just to permit anything at all in the extraVirtualAliases, though I'm not sure where the restrictions are set right now. See below:

Right now, when I try the following:

    extraVirtualAliases = {

[2018-03-14 07:55] r-raymond commented on #104
Thanks for putting work into this! It is inforced by the type:

[code]
so the right hand side has to be an enum with possible choices defined by the loginAccounts. The conundrum is that we can't really change this to all possible values for comma seperated addresses (which would grow with n!). What we could do though is add a list type to the right hand side, so that multiple assignments are allow

[2018-03-14 14:00] fadenb opened #107 "[support] How to use only enableImapSsl and enablePop3Ssl?"
Hey,

I was trying to set up SNM in a way that would allow only TLS secured imap and pop3 connections.
See below for the config options I used.

Is this currently possible with SNM?

Thanks!

#### SNM Version: (e.g. v2.1.3)
2.1.3
#### Nixos Version: (e.g. 17.09 or unstable)
17.09

#### Relevant part of the config to reproduce:

    enableImap = false;
    enablePop3 = false;
    enableImapSsl = tr

[2018-03-14 14:13] r-raymond commented on #107
Hi, thanks for using SNM, and sorry for the inconvenience!

What you want is

[code]
i.e. `enable*` enables the TLS versions of Pop3 and Imap. If you _in additions_ want the SSL versions, you can set the other two to true.

Maybe we should rename those options.

[2018-03-14 14:15] r-raymond commented on #107
Btw, you mixed up the ports. TLS ports are 110 and 143. 993 and 995 are the SSL versions.

[2018-03-14 14:20] r-raymond commented on #107
Ok, now I'm confused. Maybe you meant those ports after all. On ports 143 and 110 dovecot listens to with startTLS. I.e. the connection is intitially unencrypted, but login is not allowed until a TLS layer is started. The `SSL` ports use the certificate to establish an encrypted connection via the certificate. In general I'd recommend to use the startTLS variant, the SSL ports are more of a legacy

[2018-03-14 14:25] fadenb commented on #107
I believe I was a bit confused myself ;)

My intention was to ensure credentials are not transmitted without some kind of encryption securing them on the wire (even if a client is using an insecure configuration).
If login is only allowed once the communication is secured via startTLS that is good enough for me.

Thanks!

[2018-03-14 14:25] #107 closed

[2018-03-14 14:26] #105 closed

[2018-03-17 11:40] dotlambda commented on #95
I did not report it. I'm not even sure if it's a problem with Nixpkgs or with Dovecot.

[2018-03-20 20:49] dotlambda commented on #95
Can someone maybe have a look at this? It will be a problem with 18.03 as well.
I looked at the Dovecot [2.3.0 release notes](https://dovecot.org/list/dovecot-news/2017-December/000366.html) but didn't find any change SNM could be affected by.
The segfault happens during the quota test btw.

[2018-03-20 21:19] dotlambda commented on #95
I found a bug report and a patch on the Dovecot mailing list: https://www.dovecot.org/list/dovecot/2018-January/110700.html. However, applying that patch doesn't seem to solve the problem.

[2018-03-21 08:53] r-raymond commented on #95
Unfortunately, I'm busy the next two weeks and won't find time to investigate the issue. If people come up with any solution I'll integrate it asap.

[2018-03-21 11:27] geistesk opened #108 "localDnsResolver (kresd) fails"
#### SNM Version: v2.1.3
#### Nixos Version: 17.09

#### Relevant part of the config to reproduce:
The option `localDnsResolver` defaults to `true` which enables `kresd`. However, it seems like `kresd` doesn't work properly out of the box and I ended up with a system without a working DNS.

However, setting `localDnsResolver = false;` kind of solves the issue.

#### What I expected to happen:
A sm

[2018-03-21 11:54] phdoerfler commented on #108
@tokudan Can you comment on whether this is what NixOs/nixpkgs#35508 is fixing?

@geistesk I have had a very similar if not identical [issue](https://github.com/r-raymond/nixos-mailserver/issues/52#issuecomment-357365989) with `kresd` on `17.09-small` which is already [fixed](https://github.com/NixOS/nixpkgs/commit/3ab85ed1aca250501bcd098f5c304e3ddde96e79) in unstable and [backported](https://gith

[2018-03-21 17:19] tokudan commented on #108
@phdoerfler NixOS/nixpkgs#35508 only fixes the issue that can be seen here *after* the bootstrap:
Mar 21 12:08:27 x systemd[1]: kresd-cachedir.service: Start request repeated too quickly.

As I avoided uses kresd without the fix in NixOS/nixpkgs#35508 by using "localDnsResolver = false;", I have no idea if that would actually solve this whole issue or not.

[2018-03-29 19:38] dotlambda commented on #95
Fixed by https://github.com/NixOS/nixpkgs/pull/38000.

[2018-03-29 19:38] #95 closed

[2018-04-02 17:09] tokudan commented on #102
Sorry for the delay in working on this. The below points should address the points raised so far.

- Local delivery still possible?
	No, emptying mydestination causes no local delivery to happen to /var/spool/mail/$user. Creating aliases that redirect local users to virtual users works. Which is partially what #102 is about. See also the example at the end.
- Can we still have an fqdn that equals

[2018-04-02 18:01] tokudan opened #110 "catchAll issue during sending"
When using the catchAll of a user, that user is not allowed to send from arbitrary email addresses from the given domains. It only works if an alias "@example.com" is added instead for the user.

#### SNM Version: v2.1.3
#### Nixos Version: 17.09

#### Relevant part of the config to reproduce:
[code]

#### What I expected to happen:
That user can send mails from "abc@example.com".

#### What happe

[2018-04-03 08:52] phdoerfler commented on #102
Please have a look at the NixOS options in `networking.defaultmailserver`: https://nixos.org/nixos/options.html#networking.defaultmailserver

In particular `networking.defaultMailServer.root` and of course `.domain` and `.hostName`.

[2018-04-03 09:07] r-raymond commented on #110
This is by design. We could possibly add another `sendAll` option if this is something people want. Can you describe your usecase?

[2018-04-03 11:51] #104 closed

[2018-04-03 15:59] tokudan commented on #110
There's no specific usecase, apart from my assumptions about catchAll and aliases.
My assumption was that aliases was intended for full email addresses and catchAll for whole domains. But as they can be mixed in aliases... What's the actual point of having both?
I assumed catchAll would also allow me to send emails with all sender addresses as well, as I use a whole domain for my emails (company A

[2018-04-03 20:15] gbuisson opened #111 "Using certificateScheme = 3 fails"
#### SNM Version: 2.1.3
#### Nixos Version: unstable

#### Relevant part of the config to reproduce:

[code]
Not enough PEM encoded messages were found in fullchain.pem; at least 2 were expected, found 1.
[code]
2018-04-03 20:09:44,198:DEBUG:simp_le:1546: ('-v', '-d', ';.., '--default_root', '/var/lib/acme/acme-challenge', '--valid_min', '2592000', '-f', 'fullchain.pem', '-f', 'full.pem', '-f', 'k

[2018-04-03 20:35] dotlambda commented on #111
That's a known issue with `nixos-unstable`: https://github.com/NixOS/nixpkgs/pull/38372

[2018-04-03 22:45] gbuisson commented on #111
w00t, got imap auth working after the system received the first mail

[2018-04-03 23:31] gbuisson commented on #111
So after toying with it and following the instructions step by step, retrying the whole evening I can:

- login and fetch mail

I can't:

- receive email from other boxes
- send email, getting :

[code]

[2018-04-04 10:00] r-raymond commented on #111
Hi @gbuisson, thanks for trying out SNM. Right now the stable version uses Nixos 17.09. Nixos 18.03 has a new rspamd version (thanks to the contributors of this project) which does not need rmilter anymore. We will need to update the system for that. There has been work (see #61) but it is not finished yet. Any help is welcome!

[2018-04-04 10:02] r-raymond commented on #61
Hi, any updates? (Sorry for spamming this issue)

[2018-04-04 10:42] gbuisson commented on #111
okay, thanks for your explanations, I finally got it all working, my `dkim` dns record was wrong and somehow I needed to update again my system to use all packages from `18.03 `, It *seems* to be working with this release.

[2018-04-04 17:32] tokudan commented on #102
@phdoerfler that partially sounds good. But it just seems to be a setting for ssmtp, not for postfix or this project.
The ssmtp nixos module seems to have hijacked the "defaultmailserver" hierarchy.

[2018-04-05 22:59] jbboehr commented on #25
Looks like 18.03 is out as of yesterday: https://groups.google.com/forum/#!topic/nix-devel/7bRK8FUcC5s

[2018-04-08 13:25] #110 closed

[2018-04-08 14:25] r-raymond opened #113 "18.03 tests fail"
It seems the only failing test is

[code]

Will need to investigate further.

[2018-04-08 14:29] geistesk commented on #108
Fixed by upgrading to 18.03.
Thanks to all those who worked for this upstream.

[2018-04-08 14:29] #108 closed

[2018-04-08 14:47] dotlambda commented on #113
You should try testing both, 18.03 and unstable, now that https://github.com/r-raymond/nixos-mailserver/issues/95 is resolved.

[2018-04-08 14:49] r-raymond commented on #113
Unfortunately Travis CI does not provide us with enough time to test both.

[2018-04-08 14:50] dotlambda commented on #113
The timeout was due to the segfault, which made the test run infinitely. It should work now.

[2018-04-08 14:56] r-raymond commented on #113
Thanks for pointing that out. I've added both now.

[2018-04-08 15:08] r-raymond commented on #113
Ok, rerunning the tests fixed the bug. Determinism ftw.

[2018-04-11 18:40] nyanloutre opened #115 "Timeout on postfix.service when generating big DH parameter"
(Use this template for bugs, feel free to delete it for other issues)

#### SNM Version: (e.g. v2.1.3)
v2.1.4
#### Nixos Version: (e.g. 17.09 or unstable)
18.03
#### Relevant part of the config to reproduce:
`dhParamBitLength = 4096;`
#### What I expected to happen:
Systemd should let OpenSSL generate the key even if it take some time
#### What happened:
The postfix service timed out (because it's

[2018-04-11 20:53] phdoerfler commented on #115
I'll be playing Captain Obvious here: in principle the higher the bit length the better, of course. This being said a timeout of 1h also means that it is deemed OK for you to not have a postfix for 1h and not know about it / have something done about it. Now SMTP is quite a robust protocol and sane mail servers should try to attempt the sending of an email for a while but there's that.

Just for p

[2018-04-11 21:05] nyanloutre commented on #115
So the sanest thing is to generate my enormous DH parameter manually, it's a one time process after all

[2018-04-11 21:06] #115 closed

[2018-04-13 08:27] The-M1k3y commented on #12
I have the same issue but in another setup. I'm subscribed to a lot of mailing-lists where some of them have a low volume of SPAM. The problem here is that I automatically get unsubscribed from the lists when my server bounces the mails.

Logs:
mail.list-example.com (5.6.7.8) = sending server
mail.example.com (1.2.3.4) = my server

relevant Log line of my server:

Log line of the sending server:

[2018-04-20 08:52] excogitation opened #118 "add dmarc instructions to the complete guide?"
https://github.com/r-raymond/nixos-mailserver/wiki/A-Complete-Setup-Guide

_dmarc.<domain>   TXT  v=DMARC1; p=none
dig -t TXT _dmarc.<domain>

[2018-04-20 21:36] mkaito opened #119 "Error connecting to IMAP"
I went through the Complete Setup guide and configured a new mail server. I can't seem to connect to IMAP though.

#### SNM Version: v2.1.3
#### Nixos Version:  18.03

#### Relevant part of the config to reproduce:
[code]

#### What I expected to happen:
Mail to sync

#### What happened:
[code]

#### Relevant journald log:
[code]

[2018-04-20 21:52] mkaito commented on #119
Possibly relevant: https://dovecot.org/pipermail/dovecot/2017-December/110280.html

Might be an issue with the Dovecot module in nixpkgs.

[2018-04-20 22:03] mkaito commented on #119
In addition: https://github.com/nixcloud/nixcloud-webservices/issues/21

[2018-04-20 22:45] r-raymond commented on #119
Hi, thanks for using SNM. In theory this fix should be in SNM already. Could be that the the generation has timed out. Also the solution you propose is definitely cleaner. If you want to send a PR we could make this way more awesome.

[2018-04-20 22:47] r-raymond commented on #118
Sounds great, any help is welcome (I don't use dmarc, so I'm not an expert on it)

[2018-04-20 23:29] mkaito commented on #119
https://github.com/NixOS/nixpkgs/pull/39288

I'll see if I can get this merged upstream.

[2018-04-22 08:37] phdoerfler commented on #103
How much documentation do we want? `default.nix` should imho be the first address to look at. This is the truth, it will never be out of date and contains both descriptions and examples.
I suggest simply linking it in the README file so people new to this project are bumped right into it. Something like:

Or worded like this:

[2018-04-25 22:30] nyanloutre commented on #25
https://github.com/r-raymond/nixos-mailserver/issues/90

So that's why the spam filtering doesn't work on 18.03

[2018-05-01 19:20] nlewo opened #120 "DKIM signature validation fails with the simple canonicalization"
I'm using SNM 1dd394e63fa15d200faf83988f8fb5f9a54c04c5 with nixos 17.09. The DKIM signature validation is failing on several mail testers.
But with a `relaxed` canonicalization, DKIM signature are valid:
[code]

I don't know why it is failing with the `simple` canonicalization, so I don't know how to fix it :/
Any idea why I'm getting this problem?

Otherwise, do you think we could add an option t

[2018-05-02 08:13] r-raymond commented on #120
Hi niewo, thanks for using SNM!

I don't mind simply patching this to relaxed if there are no objections. Btw, do you need relaxed for both the body and the header? If I had to guess I'd think header should be enough. What is your setup and to which mail testers are you writing?

[2018-05-02 12:30] r-raymond commented on #25
I'm sorry to hear that. Are you on 18.03? In this case the best bet would be to turn off spam filtering all together.

[2018-05-02 12:40] dotlambda commented on #25
No, I'm on unstable.

[2018-05-03 19:32] nlewo commented on #120
- I confirm that `relaxed` canonicalization is only required on the header.
- I'm using the mail tester http://www.appmaildev.com.
- My configuration is
[code]

[2018-05-04 17:51] tokudan commented on #120
@nlewo You might want to replace your email addresses and password with placeholders in this issue. That configuration contains everything needed to try to log into your account, apart from the password. And since you provided the hash, it's actually possible to try to crack the hash locally at a couple of million attempts per seconds.

[2018-05-04 18:25] nlewo commented on #120
@tokudan Thanks, but the hash is not the good one:/

[2018-05-06 09:32] #120 closed

[2018-05-06 09:39] r-raymond opened #122 "Looking for (Co)-Maintainer(s)"
Hi everyone,

while still being committed to the project long term I can't put as much work into the project as I think it deserves right now. There are some bug reports and problems migrating to Nixos 18.03 / 18.09 unstable that I simply don't have the time to investigate right now.

If anyone is interested in helping the project, please let me know through some channel. If there is anyone willin

[2018-05-08 14:15] mickours commented on #122
I'm a pretty new user of SNM, but I think it's a great project: I really though that configure a complete open source mail sever solution will take me a week but with this project and the power of NixOS, it only took me a few hours...
I would be glad to help 😊

[2018-05-08 14:54] mickours opened #123 "Provide mailing list support with mailman"
It would be great to have simple switch to activate a mailing list manager like mailman on a given mail address.

Is it in the scope of this project?

Note that mailman is packed on NixOS but I did not found any module implementation.

[2018-05-09 13:42] r-raymond commented on #122
Hi @mickours , awesome! What is the best way to contact you? If you don't want to publicly post that information, send me a mail to robin@robinraymond.de.

[2018-05-10 00:52] telent commented on #90
I don't pretend to understand rspamd *or* postfix *or* SNM so I am the last person you should trust with your mail setup, but here is my workaround which appears to work for me and appears to filter spam into the Junk folder.  I added this to the bottom of my module (i.e. if you were using the "quick start" you would paste this gubbins into it before the final closing } )

This is brutal and messy

[2018-05-10 10:11] sorki commented on #123
So I'm looking at my ansible mailman role that I would like to migrate to this and it's not that complex..

Few variables are passed (if it ever worked correctly) to dependent mailserver role
[code]

Then a bunch of tasks configuring mailman and its SSL vhost  https://github.com/nestihacky/ansible-role-mailman/blob/master/tasks/main.yml

This is gonna get greatly simplified as we can re-use apache

[2018-05-10 21:20] jokogr opened #125 "Trouble with DKIM signature"
#### SNM Version: v2.1.4
#### Nixos Version: 18.03

I am trying to setup a mail server according to the wiki page "A Complete Setup Guide" for two domains.

I am sending e-mail to mail-tester.com and it complains for invalid DKIM signature:

[code]

I have checked the signature and it seems proper:

[code]

although the format is not like the one described in the wiki:

[code]

Any idea what is wr

[2018-05-11 00:10] eqyiel commented on #122
@r-raymond thanks for your hard work so far.  I can't see myself not using this, so please reach out to me using the email address on my GitHub profile!

[2018-05-11 06:45] nlewo commented on #125
I encountered same kind of troubles and it was related to the canonicalization method (simple vs relaxed). It works well with the commit https://github.com/r-raymond/nixos-mailserver/commit/0f75894b4fed14ac13c557fad6ec3f25089fabc5. Maybe it would also work for you (and yes, it's difficult to debug dkim issues...) :/

You can switch to this commit in your `configuration.nix` with something such as:

[2018-05-12 05:46] mickours commented on #122
Same as eqyiel, you can contact me on my email address from my profile.

[2018-05-12 16:33] griff commented on #61
@r-raymond Sorry for the delay. Had to go to a wedding/extended family visit on the other side of the globe and that took 3 weeks with 1 week getting over jetlag after getting home.

I am mostly done with OpenDKIM, pypolicyd-spf and moving away from rmilter. I have though one question to you: While working on this I added a test for ClamAV scanning which stores the virus database locally because t

[2018-05-13 02:14] griff commented on #61
@r-raymond I tried using git LFS to store the ClamAV database as described [here](https://help.github.com/articles/working-with-large-files/) but it seems that because I don't have permission to upload LFS files to your official repo I can't upload LFS files to my fork.

Other than that I am done with OpenDKIM, pypolicyd-spf and using rpamd proxy worker instead of rmilter.

[2018-05-13 15:06] jokogr commented on #125
Thanks, @nlewo, for your suggestion, it fixed the issue!

[2018-05-13 15:06] #125 closed

[2018-05-15 07:40] telent commented on #25
https://github.com/r-raymond/nixos-mailserver/issues/90#issuecomment-387917765 I have spam filtering working in 18.03 with this rather kludgey workaround, if it helps

[2018-05-15 15:58] r-raymond commented on #61
@griff Thanks alot, don't worry, life sometimes is more important! How can I assist with the LFS upload?

[2018-05-22 19:48] oscarcarlsson opened #127 "Using ACME without another nginx process"
#### SNM Version: (e.g. v2.1.3)
#### Nixos Version: 18.03

On my current setup, I have SNM in a container on a server which already have a nginx process running, which includes the necessary bits for managing ACME certificates.

If I'd try to enable ACME certificates in SNM this would clash with the already existing nginx setup, which is too bad.

If possible, it would be awesome to use an already

[2018-05-22 19:53] r-raymond commented on #127
Hi, can you use certificateScheme = 1, i.e. manually provide the location where the certificates are?

[2018-05-23 13:14] phdoerfler commented on #47
@dotlambda I'm hijacking this issue because I too am using `getmail` with NMS and it's almost working perfectly. The only thing missing is spam filtering. I was expecting this to work thanks to this carefully hand crafted config:

[code]

but `rspamd` doesn't see a reason to look at mail processed like this. Did you have any success with this?

[2018-05-23 17:16] Izorkin opened #129 "Backup relay MTA"
Is it planned to add support for backup relay MTA?

[2018-05-23 17:21] phdoerfler commented on #129
Not as far as I know. This being said you might find this issue helpful: https://github.com/r-raymond/nixos-mailserver/issues/74

[2018-05-24 09:07] dotlambda commented on #47
No, I didn't set up spam filtering yet. I think https://github.com/vstakhov/rspamd/issues/520 might be of interest. But maybe the only way to achieve this is using something like procmail.

[2018-06-11 08:28] oscarcarlsson commented on #127
Oh. I was too impatient to even notice that option, sorry for creating this issue! I was originally hoping to submit a PR with a fix but that didn't happen.

[2018-06-11 08:28] #127 closed

[2018-06-21 15:30] sdevmaster opened #131 "Will edit later"
(Use this template for bugs, feel free to delete it for other issues)

#### SNM Version: (e.g. v2.1.3)
#### Nixos Version: (e.g. 17.09 or unstable)

#### Relevant part of the config to reproduce:

#### What I expected to happen:

#### What happened:

#### Relevant journald log:

[2018-06-21 15:31] #131 closed